<mat-accordion [multi]="true">
  @for (group of groups$ | async; track group.id) {
    @let activeGroupId = activeGroupId$ | async;
    @let activeTabId = activeTabId$ | async;
    @let hasTabId = !isNaN(activeTabId);
    @let panelStates = panelStates$ | async;
    @let groupId = group.id;
    @let expandPanel =
      panelStates?.[groupId] || (activeGroupId === groupId && hasTabId);

    <mat-expansion-panel
      #panel
      [expanded]="panel.expanded || expandPanel"
      (opened)="opened(groupId)"
      (closed)="closed(groupId)"
      hideToggle>
      <mat-expansion-panel-header>
        @if (activeGroupId === groupId && !hasTabId) {
          <nc-ripple [focused]="true" />
        }

        <div class="collapsed">
          @let tabsByHostname = tabsByHostname$ | async;

          @if (tabsByHostname) {
            @let titlesMap = titlesMap$ | async;

            <nc-panel-header
              [icons]="tabsByHostname[groupId]"
              [total]="group.tabs.length"
              [titleText]="titlesMap.get(groupId)"
              [pinned]="group.timestamp < 0"
              [readOnly]="group | isReadOnlyGroup"
              (starred)="favGroup(group)" />
          }
        </div>
        <div class="expanded">
          <nc-group-controls
            [group]="group"
            [readOnly]="group | isReadOnlyGroup" />
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-divider *ngIf="panel.expanded" />

        @if (group.tabs$ | async; as tabs) {
          <nc-tab-list cdkDropList (cdkDropListDropped)="drop($event, tabs)">
            @for (tab of tabs; track tab.id) {
              <nc-list-item
                cdkDrag
                [@listItemAnimation]
                [cdkDragDisabled]="dragDisabled()"
                [tab]="tab"
                [actions]="tabActions()"
                [target]="isPopup ? '_blank' : '_self'"
                (modified)="editTab(tab)"
                (deleted)="deleteTab(tab)"
                [focused]="
                  activeGroupId === groupId && activeTabId === tab.id
                " />
            }
          </nc-tab-list>
        }
      </ng-template>
    </mat-expansion-panel>
  }
</mat-accordion>
