<mat-accordion [multi]="true">
  @for (group of groups$ | async; track group.id) {
    @let activeGroupId = activeGroupId$ | async;
    @let activeTabId = activeTabId$ | async;
    @let hasTabId = !isNaN(activeTabId);

    <mat-expansion-panel
      #panel
      [expanded]="
        (panelStates$ | async)?.[group.id] ||
        (activeGroupId === group.id && hasTabId) ||
        panel.expanded
      "
      (opened)="opened(group.id)"
      (closed)="closed(group.id)"
      hideToggle>
      <mat-expansion-panel-header>
        @if (activeGroupId === group.id && !hasTabId) {
          <nc-ripple [focused]="true" />
        }

        <div class="collapsed">
          @let tabsByHostname = tabsByHostname$ | async;

          @if (tabsByHostname) {
            @let titlesMap = titlesMap$ | async;

            <nc-panel-header
              [icons]="tabsByHostname[group.id]"
              [total]="group.tabs.length"
              [titleText]="titlesMap.get(group.id)"
              [pinned]="group.timestamp < 0"
              [readOnly]="group | isReadOnlyGroup"
              (starred)="favGroup(group)" />
          }
        </div>
        <div class="expanded">
          <nc-group-controls
            [group]="group"
            [readOnly]="group | isReadOnlyGroup" />
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-divider />

        @if (group.tabs$ | async; as tabs) {
          <nc-tab-list cdkDropList (cdkDropListDropped)="drop($event, tabs)">
            @for (tab of tabs; track tab.id) {
              <nc-list-item
                cdkDrag
                [@listItemAnimation]
                [cdkDragDisabled]="dragDisabled()"
                [tab]="tab"
                [actions]="tabActions()"
                [target]="isPopup ? '_blank' : '_self'"
                (modified)="editTab(tab)"
                (deleted)="deleteTab(tab)"
                [focused]="
                  activeGroupId === group.id && activeTabId === tab.id
                " />
            }
          </nc-tab-list>
        }
      </ng-template>
    </mat-expansion-panel>
  }
</mat-accordion>
