<mat-accordion [multi]="true">
  @for (group of groups$ | async; track group.id; let i = $index) {
    @let activeGroupId = activeGroupId$ | async;
    @let activeTabId = activeTabId$ | async;
    @let hasTabId = !isNaN(activeTabId);
    @let panelStates = panelStates$ | async;
    @let groupId = group.id;
    @let expandPanel =
      panelStates?.[groupId] || (activeGroupId === groupId && hasTabId);

    <mat-expansion-panel
      #panel
      [expanded]="panel.expanded || expandPanel"
      (opened)="opened(groupId)"
      (closed)="closed(groupId)"
      hideToggle
      dataTestId="group-panel-{{ i }}">
      <mat-expansion-panel-header dataTestId="group-header-{{ i }}">
        @if (activeGroupId === groupId && !hasTabId) {
          <nc-ripple [focused]="true" />
        }

        <div class="collapsed">
          @let tabsByHostname = tabsByHostname$ | async;

          @if (tabsByHostname) {
            @let titlesMap = titlesMap$ | async;

            <nc-panel-header
              [icons]="tabsByHostname[groupId]"
              [total]="group.tabs.length"
              [title]="titlesMap.get(groupId)"
              [pinned]="group.timestamp < 0"
              [readOnly]="group | isReadOnlyGroup"
              (starred)="favGroup(group)" />
          }
        </div>
        <div class="expanded">
          <nc-group-controls
            [timestamp]="group.timestamp"
            [actions]="groupActions()"
            (clicked)="onGroupAction($event, group)" />
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        @if (panel.expanded) {
          <mat-divider></mat-divider>
        }

        @if (group.tabs$ | async; as tabs) {
          <nc-tab-list cdkDropList (cdkDropListDropped)="drop($event, tabs)">
            @for (tab of tabs; track tab.id; let i = $index) {
              <nc-list-item
                cdkDrag
                [@listItemAnimation]
                [cdkDragDisabled]="dragDisabled()"
                [tab]="tab"
                [actions]="tabActions()"
                [target]="target"
                (modified)="editTab(tab)"
                (deleted)="deleteTab(tab)"
                [focused]="activeGroupId === groupId && activeTabId === tab.id"
                dataTestId="list-item-{{ i }}" />
            }
          </nc-tab-list>
        }
      </ng-template>
    </mat-expansion-panel>
  }
</mat-accordion>
