@use 'common' as common;

nc-groups {
  $border-radius: var(--mat-expansion-container-shape);

  display: block;
  position: relative;

  .mat-expansion-panel {
    &:only-child > .ripple {
      border-radius: $border-radius;
    }

    &:first-child:not(:only-child) > .ripple {
      border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child:not(:only-child) > .ripple {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  .mat-expansion-panel-header {
    .expanded {
      display: none;
    }

    .mat-content-hide-toggle {
      margin-right: 0;
    }

    &.mat-expanded {
      .expanded {
        display: block;
      }

      .collapsed {
        display: none;
      }
    }
  }

  nc-tab-list.cdk-drop-list.cdk-drop-list-dragging {
    pointer-events: none;

    nc-list-item.cdk-drag:not(.cdk-drag-placeholder) {
      transition: transform common.$cubic-ease;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.25rem;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .mat-ripple-element {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform common.$cubic-ease;
}
