@let hideTopSites = hideTopSites$ | async;
@let hasData = hasData$ | async;

@if (hideTopSites === false) {
  <nc-top-sites class="top-sites" [topSites]="topSites$ | async" />
}

<nc-search-form
  class="search-form"
  [source]="searchSource$ | async"
  [devices]="devices$ | async"
  [disabled]="!hasData" />

<section class="content">
  @if (hasAnyData$ | async) {
    @for (item of devicesTimeline$ | async; track item) {
      <nc-timeline-element [timelineLabel]="item.label" [controls]="false">
        <nc-groups [groups]="item.elements" />
      </nc-timeline-element>
    }

    @for (item of timeline$ | async; track item) {
      <nc-timeline-element
        [timelineLabel]="item.label"
        (removed)="removeGroups(item.elements)">
        <nc-groups
          [groups]="item.elements"
          [dragDisabled]="false"
          [tabActions]="tabActions" />
      </nc-timeline-element>
    }
  } @else {
    <nc-empty
      [actions]="noDataActions"
      [message]="'newTabEmptyMessage' | translate" />
  }
</section>
