@use 'common' as common;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  @include common.vertical-flex;

  overflow: hidden;
  height: 100vh;
}

nc-new-tab {
  @include common.vertical-flex;

  margin-bottom: 1rem;

  .content {
    @include common.vertical-flex;
  }

  .top-sites {
    overflow: hidden;
  }

  .content,
  .top-sites,
  .search-form .controls-wrapper {
    margin: 0 auto;
    width: 80vw;
    max-width: 75rem;
  }
}

@media (max-width: 60rem) {
  nc-new-tab {
    .content,
    .top-sites,
    .search-form .controls-wrapper {
      margin: 0 2rem;
      width: auto;
      max-width: auto;
    }
  }
}
