@import 'theme';

@include component-theme using($theme) {
  app-empty {
    color: get-palette-color(get-foreground-palette($theme), disabled-text);
  }
}

$icon-size: 5rem;

app-empty {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  .icon {
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
    line-height: $icon-size;
  }

  .actions {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
}
