@use 'sass:map';
@use '@angular/material' as mat;

@import '../common';

@mixin color($theme) {
  app-chip {
    .icons-container .overflow {
      color: getPaletteColor(getForegroundPalette($theme), disabled-text);
    }

    .icon-container {
      background-color: getPaletteColor(getBackgroundPalette($theme), disabled-list-option);

      .icon-label {
        color: getPaletteColor(getForegroundPalette($theme), text);
      }
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
