@use 'sass:map';
@use '@angular/material' as mat;

@import '../common';

@mixin color($theme) {
  app-panel-header {
    .title {
      color: getPaletteColor(getForegroundPalette($theme), secondary-text);

      .text:first-of-type {
        color: getPaletteColor(getForegroundPalette($theme), text);
      }
    }

    .description {
      color: getPaletteColor(getForegroundPalette($theme), secondary-text);

      .total {
        background-color: getPaletteColor(getBackgroundPalette($theme), disabled-list-option);
      }
    }

    .icons-container .overflow {
      color: getPaletteColor(getForegroundPalette($theme), disabled-text);
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  app-panel-header {
    .description .total {
      @include mat.typography-level($typography-config, caption);
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
