@use 'sass:map';
@use '@angular/material' as mat;

@import '../common';

@mixin color($theme) {
  app-ripple.focused {
    $color: getPaletteColor(getBackgroundPalette($theme), ripple);
    $alpha: rgba(0, 0, 0, 0);
    background: radial-gradient(circle, $color 0%, $color 49%, $alpha 50%, $alpha 100%);
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
