@use 'sass:map';
@use '@angular/material' as mat;

@import '../common';
@import '../typography';

@mixin color($theme) {
  app-tabs-selector {
    .container {
      color: getPaletteColor(getForegroundPalette($theme), secondary-text);

      .header-container {
        background: getPaletteColor(getBackgroundPalette($theme), background);
      }

      .list-container .list-item {
        color: getPaletteColor(getForegroundPalette($theme), secondary-text);

        .item-subtitle {
          color: getPaletteColor(getForegroundPalette($theme), hint-text);
        }
      }
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  app-tabs-selector {
    .container {
      .header .heading {
        @include mat.typography-level($typographyConfig, subtitle-1);
      }

      .list-container .list-item .item-text {
        .item-title {
          @include mat.typography-level($typographyConfig, body-1);
        }

        .item-subtitle {
          @include mat.typography-level($typographyConfig, caption);
        }
      }
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
