@use 'sass:map';
@use '@angular/material' as mat;

@import '../common';
@import '../typography';

@mixin color($theme) {
  app-timeline-element {
    .timeline-header {
      color: getPaletteColor(getForegroundPalette($theme), hint-text);
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  app-timeline-element {
    .timeline-label {
      @include mat.typography-level($typographyConfig, subtitle-2);
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
