@use 'sass:map';
@use '@angular/material' as mat;

@import '../common';

@mixin color($theme) {
  app-top-sites {
    .site-container {
      .site {
        background: getPaletteColor(getBackgroundPalette($theme), disabled-list-option);
      }

      .site-title {
        color: getPaletteColor(getForegroundPalette($theme), text);
      }

      .remove-btn {
        color: getPaletteColor(getForegroundPalette($theme), text);
        background: getPaletteColor(getBackgroundPalette($theme), card);
      }
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  app-top-sites {
    .site-title {
      @include mat.typography-level($typographyConfig, body-1);
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
