@use '@angular/material' as mat;
@import 'theme';


@include component-theme using($theme) {
  app-timeline-element {
    .timeline-header {
      color: getPaletteColor(getForegroundPalette($theme), hint-text);
    }
  }
}

$typography-config: mat.get-typography-config($dark-theme);

app-timeline-element {
  display: block;

  .timeline-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0.5rem;
    overflow: hidden;
    height: 2.5rem;
  }

  h3.timeline-label {
    @include mat.typography-level($typographyConfig, subtitle-2);

    margin: 0;
  }
}
