@import 'common';

$padding: 1rem;

body {
  min-width: $popup-width;
  max-width: $popup-width;
  min-height: $popup-height;
}

html.cdk-global-scrollblock {
  position: relative;
}

app-popup {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

  .content {
    padding: $padding;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
