@import 'common';

$padding: 0.5rem;

html,
body {
  width: $popup-width;
  height: $popup-height;

  min-width: $popup-width;
  min-height: $popup-height;

  max-width: $popup-width;
  max-height: $popup-height;
}

app-popup {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

  .content {
    padding: 0 $padding $padding;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
