@use 'common' as common;

nc-timeline-element {
  display: block;
  border-radius: var(--mat-expansion-container-shape);

  transition-property: padding, background-color, margin;
  transition-timing-function: common.$cubic-ease;
  transition-duration: 250ms;

  .timeline-header {
    transition-property: color margin;
    transition-timing-function: common.$cubic-ease;
    transition-duration: 250ms;

    color: var(--nc-disabled-text-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    overflow: hidden;

    .mat-mdc-icon-button {
      color: var(--nc-disabled-text-color);
    }
  }
}

@media (min-width: common.$desktop-width) {
  nc-timeline-element {
    &:has(.mat-expansion-panel.mat-expanded) {
      $_padding: 1rem;
      padding: 0 $_padding $_padding;
      margin: 0 -#{$_padding};

      background-color: var(--mat-sys-surface-container-low);

      &:not(:first-of-type) {
        margin-top: 1rem;
      }

      .timeline-header,
      .timeline-header nc-timeline-label {
        color: var(--nc-secondary-text-color);
      }

      .timeline-header .mat-mdc-icon-button {
        color: inherit;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    nc-timeline-element {
      &:has(.mat-expansion-panel.mat-expanded) {
        background-color: var(--mat-sys-surface-container-highest);
      }
    }
  }
}
