@use '@angular/material' as mat;
@import 'theme';

@include component-theme using($theme) {
  app-timeline-element {
    .timeline-header {
      color: get-palette-color(get-foreground-palette($theme), hint-text);
    }
  }
}

app-timeline-element {
  display: block;

  .timeline-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    overflow: hidden;
  }
}
