@keyframes ripple {
  from {
    background-size: 0;
    opacity: 0.35;
  }

  to {
    background-size: 300%;
    opacity: 0;
  }
}

nc-ripple {
  $_color: var(--mat-sys-inverse-surface);
  $_alpha: rgba(0, 0, 0, 0);

  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;

  &.focused {
    animation: ripple 1s ease;
    background: radial-gradient(
        circle,
        $_color 0%,
        $_color 49%,
        $_alpha 50%,
        $_alpha 100%
      )
      no-repeat 50%;
  }
}
