@use 'common' as common;

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nc-ripple {
  --angle: 0deg;

  contain: layout;
  border: 3px solid transparent;
  mask:
    linear-gradient(#000 0 0, #000) padding-box,
    linear-gradient(#000 0 0, #000);
  mask-composite: exclude;
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;

  &::after {
    $_c1: #4498ff;
    $_c2: #7eff22;
    $_c3: #ffed48;
    $_c4: #ff2d3e;

    content: '';
    background: conic-gradient(
      from 270deg,
      rgba(from $_c1 r g b / 0),
      $_c1,
      $_c2,
      $_c3,
      $_c4,
      rgba(from $_c4 r g b / 0) 270deg
    );
    height: 200px;
    inset: 0;
    position: absolute;
    scale: 8 1;
    translate: 0 -64px;
    transform: rotate(var(--angle));
  }

  &.animated::after {
    animation:
      fade-in 2s common.$cubic-bezier forwards,
      rotate 8s common.$cubic-bezier forwards,
      fade-out 4s common.$cubic-bezier 4s forwards;
  }
}
