@use 'common' as common;

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

nc-ripple {
  --angle: 0deg;

  contain: layout;
  border: 3px solid transparent;
  mask:
    linear-gradient(#000 0 0, #000) padding-box,
    linear-gradient(#000 0 0, #000);
  mask-composite: exclude;
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;

  &::after {
    content: '';
    background: conic-gradient(
      #aa93ff00,
      #aa93ff,
      #ff4e60,
      #6fb4ff,
      #a5ff00,
      #a5ff0000,
      #aa93ff00
    );
    height: 200px;
    inset: 0;
    position: absolute;
    scale: 8 1;
    translate: 0 -64px;
    transform: rotate(var(--angle));
  }

  &.animated::after {
    animation:
      rotate 8s common.$cubic-bezier forwards,
      fade 4s common.$cubic-bezier 2s forwards;
  }
}
