<div class="container">
  <ng-container *ngFor="let domain of group.domains; let i = index">
    <span *ngIf="i < maxIconsLength"
      class="badged-icon"
      matBadgeSize="small"
      [matBadge]="domain.count"
      [matBadgeHidden]="domain.count <= 1">
        <app-tab-icon
          class="icon"
          [domain]="domain"
          [tabs]="group.tabs"
          [showLabel]="domain.count <= 1">
        </app-tab-icon>
    </span>
  </ng-container>
  <span class="overflow" *ngIf="group.domains.length > maxIconsLength">
    +{{ group.domains.length - maxIconsLength }}
  </span>
</div>
