@import 'theme';

.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.overflow {
  margin-left: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .icon:not(:first-child) {
    margin-left: 0.5rem;
  }

  @for $i from 1 through 20 {
    .icon:nth-child(#{$i}) {
      z-index: #{20 - $i};
    }
  }
}

@include theme using($theme) {
  :host .overflow {
    color: mat-color(getForeground($theme), disabled-text);
  }
}
