<form (submit)="save($event)" data-testid="tab-selector-form">
  <mat-dialog-content class="container">
    <div class="header-container">
      <h2 class="heading">
        {{ 'selectTabs' | translate }}
      </h2>
      <div class="controls">
        <div class="checkbox-container">
          <mat-checkbox
            color="primary"
            tabIndex="-1"
            [checked]="allSelected$ | async"
            [indeterminate]="someSelected$ | async"
            (change)="selectAll($event.checked)"
            data-testid="tab-selector-select-all">
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="list-container">
      <mat-selection-list
        [field]="tabSelectorForm.list"
        data-testid="tab-selector-list">
        @let _groupClasses = groupClasses();

        @for (tab of tabs(); track tab.id) {
          <mat-list-option
            color="primary"
            [value]="tab"
            [ngClass]="_groupClasses?.get(tab.id)">
            <div class="list-item">
              <nc-chip
                [source]="tab.favIconUrl | favicon: tab.url"
                size="small">
              </nc-chip>
              <div class="item-text">
                <div class="item-title">{{ tab.title }}</div>
                <span class="item-subtitle">
                  <span class="subtitle">{{ tab.url | hostname }}</span>
                </span>
              </div>
            </div>
          </mat-list-option>
        }
      </mat-selection-list>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      type="button"
      matButton="outlined"
      [mat-dialog-close]
      data-testid="tab-selector-cancel">
      {{ 'close' | translate }}
    </button>
    <button
      type="submit"
      matButton="filled"
      color="primary"
      [disabled]="tabSelectorForm().invalid()"
      data-testid="tab-selector-submit">
      {{ 'save' | translate }}
    </button>
  </mat-dialog-actions>
</form>
