nc-tabs-selector {
  $_max-width: 25rem;

  .mat-mdc-dialog-title::before {
    content: none;
  }

  .mat-mdc-dialog-title {
    padding: 0;
  }

  .header-container {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .heading {
      font: var(--mat-sys-body-large);
      margin: 0;
    }

    .controls {
      display: flex;
      align-items: center;
      margin-right: 0.25rem;

      .checkbox-container {
        align-items: center;
        display: flex;
        height: 2.5rem;
        justify-content: center;
        width: 2rem;
      }
    }
  }

  .mat-mdc-dialog-content.container {
    color: var(--nc-secondary-text);
    max-width: $_max-width;
    min-width: $_max-width;
    position: relative;
    max-height: 50vh;
    overflow: auto;
    overflow-y: scroll;
    padding: 0;

    .mat-mdc-list-base .mat-mdc-list-option .mat-mdc-list-text {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .list-container {
      position: relative;
      display: block;

      .mat-mdc-list-item {
        height: 4rem;
      }

      .mat-mdc-list-base {
        padding: 0;
      }

      .list-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--nc-secondary-text);

        .item-text {
          overflow: hidden;
          text-overflow: ellipsis;

          .item-title {
            font: var(--mat-sys-body-medium);
          }

          .item-title,
          .item-subtitle {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .item-subtitle {
            font: var(--mat-sys-label-medium);
            color: var(--mat-sys-disabled-text);

            display: flex;
            align-items: center;
            gap: 0.25rem;
            margin: 0;
            padding: 0;
            overflow: hidden;

            nc-label {
              flex: 0 0 0;
            }

            .subtitle {
              overflow: hidden;
              flex: 1 0 0;
              text-overflow: ellipsis;
            }

            .mat-icon {
              font-size: 1rem;
              height: 1rem;
              width: auto;
            }
          }
        }
      }
    }
  }
}
