<form [formGroup]="formGroup" (ngSubmit)="save()">
  <div class="container">
    <div class="header-container">
      <div class="header">
        <div class="controls">
          <button
            type="submit"
            mat-flat-button
            color="primary"
            [disabled]="!formGroup.valid">
            {{ 'addTabs' | translate }}
          </button>
          <div class="checkbox-container">
            <mat-checkbox
              color="primary"
              [checked]="allSelected$ | async"
              [indeterminate]="someSelected$ | async"
              (change)="selectAll($event.checked)">
            </mat-checkbox>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="list-container">
      <mat-selection-list formControlName="list">
        @for (tab of tabs; track tab) {
          <mat-list-option [value]="tab" color="primary">
            <div class="list-item">
              <nc-chip
                [source]="tab.favIconUrl | favicon: tab.url"
                size="small"></nc-chip>
              <div class="item-text">
                <div class="item-title">{{ tab.title }}</div>
                <span class="item-subtitle">
                  @if (tab.active) {
                    <nc-label>{{ 'active' | translate }}</nc-label>
                  }

                  @if (tab.pinned) {
                    <nc-label>{{ 'pinned' | translate }}</nc-label>
                  }
                  <span class="subtitle">{{ tab.url | hostname }}</span>
                </span>
              </div>
            </div>
          </mat-list-option>
        }
      </mat-selection-list>
    </div>
  </div>
</form>
