<div class="container">
  <div class="message">
    <span>{{ data.message }}</span>
  </div>
  <div class="controls">
    @if (data.actionIcon) {
      <button
        mat-icon-button
        [matTooltip]="'action_' + data.actionIcon | translate"
        (click)="dismissWithAction()">
        <mat-icon>{{ data.actionIcon }}</mat-icon>
      </button>
    }
    <button
      mat-icon-button
      [matTooltip]="'dismiss' | translate"
      (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
