nc-message {
  box-shadow: var(--mat-sys-level2);
  color: var(--nc-text);
  background-color: var(--mat-sys-surface-container);

  .controls {
    color: var(--mat-sys-on-surface-variant);
  }

  $border-radius: 5px;

  display: block;
  border-radius: $border-radius;
  box-sizing: border-box;
  overflow: hidden;

  .container {
    padding: 1rem 0 1rem 1rem;
    display: flex;
    align-items: stretch;
    gap: 1rem;
  }

  .message {
    font: var(--mat-sys-body-large);

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 0.5rem;

    .mdc-icon-button {
      padding: 0;
      width: 24px;
      height: 24px;
    }
  }
}
