nc-message {
  $_text-color: var(--nc-text-color-inverse);

  box-shadow: var(--mat-sys-level2);
  color: $_text-color;
  background-color: var(--mat-sys-inverse-surface);

  display: block;
  border-radius: 2rem;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem;

  .container {
    display: flex;
    align-items: stretch;
    gap: 2rem;
  }

  .message {
    font: var(--mat-sys-body-large);

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1rem;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .mdc-icon-button {
      color: $_text-color;
      padding: 0;
      width: 24px;
      height: 24px;
    }
  }
}
