@import 'common';

@media (max-width: $popup-width) {
  .domain-name {
    display: none;
  }
}

:host {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 12rem;
  min-width: 2rem;
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  gap: 0.5rem;
}

.domain-name {
  line-height: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.badge-position {
  position: absolute;
  right: 0.15rem;
  top: 0.15rem;
}

@include theme using($theme) {
  :host {
    .icon-container {
      background-color: getPaletteColor(getBackgroundPalette($theme), unselected-chip);
    }

    .domain-name {
      color: getPaletteColor(getForegroundPalette($theme), text);
    }
  }
}
