<div class="container">
  <div class="timestamp">
    {{ group.timestamp | date: 'longDate' }}
  </div>
  <div class="controls" [appStopPropagation]>
    <button mat-icon-button (click)="removeTabs()" matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="addTabs()" matTooltip="Add tabs">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button (click)="restoreTabs()" matTooltip="Restore">
      <mat-icon>restore</mat-icon>
    </button>
  </div>
</div>
