@import 'common';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-home {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

  .content {
    margin: 1rem auto;
    width: 80vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  app-top-sites {
    margin: 0 0 1rem;
  }
}

@media (max-width: 60rem) {
  app-home .content {
    width: auto;
    margin: 2rem;
  }
}
