@import 'common';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-home {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  margin-bottom: 1rem;

  app-top-sites,
  app-search,
  app-search-form .controls-wrapper {
    margin: 0 auto;
    width: 80vw;
    max-width: 75rem;
  }

  app-search-form.search-margin {
    margin-top: 2rem;
  }
}

@media (max-width: 60rem) {
  app-home {
    app-top-sites,
    app-search,
    app-search-form .controls-wrapper {
      margin: 0 2rem;
      width: auto;
      max-width: auto;
    }
  }
}
