@if (hasAnyData$ | async) {
  @for (item of devicesTimeline$ | async; track item.label) {
    <app-timeline-element [timelineLabel]="item.label" [controls]="false">
      <app-groups [groups]="item.elements" />
    </app-timeline-element>
  }

  @for (item of timeline$ | async; track item.label) {
    <app-timeline-element
      [timelineLabel]="item.label"
      (removed)="removeGroups(item.elements)">
      <app-groups [groups]="item.elements" [dragDisabled]="false" />
    </app-timeline-element>
  }
} @else {
  <app-empty
    [actions]="defaultActions"
    [message]="'newTabEmptyMessage' | translate" />
}
