@for (item of devicesTimeline$ | async; track item.label) {
  <nc-timeline-element [timelineLabel]="item.label" [controls]="false">
    <nc-groups
      [groups]="item.elements"
      [groupActions]="deviceActions"
      (actionClicked)="handleDeviceAction($event, item.label)" />
  </nc-timeline-element>
}

@let timeline = timeline$ | async;

@if (timeline?.length > 0) {
  @for (item of timeline; track item.label; let i = $index) {
    <nc-timeline-element
      [timelineLabel]="item.label"
      (removed)="removeGroups(item.elements)"
      dataTestId="timeline-element-{{ i }}">
      <nc-groups
        [groups]="item.elements"
        [dragDisabled]="false"
        [tabActions]="tabActions"
        [groupActions]="groupService.commonActions"
        (actionClicked)="groupService.handleAction($event)">
      </nc-groups>
    </nc-timeline-element>
  }
} @else {
  <nc-empty
    [actions]="defaultActions"
    [message]="'newTabEmptyMessage' | translate" />
}
