@if (hasAnyData$ | async) {
  @for (item of devicesTimeline$ | async; track item.label) {
    <nc-timeline-element [timelineLabel]="item.label" [controls]="false">
      <nc-groups #deviceGroups [groups]="item.elements" />
    </nc-timeline-element>
  }

  @for (item of timeline$ | async; track item.label) {
    <nc-timeline-element
      [timelineLabel]="item.label"
      (removed)="removeGroups(item.elements)">
      <nc-groups
        #tabGroups
        [groups]="item.elements"
        [dragDisabled]="false"
        [tabActions]="tabActions" />
    </nc-timeline-element>
  }
} @else {
  <nc-empty
    [actions]="defaultActions"
    [message]="'newTabEmptyMessage' | translate" />
}
