@import 'theme';

@include component-theme using($theme) {
  nc-icons-container {
    .icons-container .overflow {
      color: get-palette-color(get-foreground-palette($theme), disabled-text);
    }
  }
}

nc-icons-container {
  display: block;
  position: relative;

  .icons-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    min-height: inherit;
    gap: 0.5rem;
    height: 3rem;

    .badged-icon {
      min-width: 2rem;

      &.mat-badge-hidden {
        overflow: hidden;
      }
    }
  }
}
