<div class="icons-container">
  @for (tabs of icons(); let i = $index; track icons().length) {
    @if (i < maxIconsLength) {
      <span
        class="badged-icon"
        [matBadge]="tabs.length"
        [matBadgeHidden]="tabs.length <= 1">
        <nc-chip
          [source]="tabs[0].favIconUrl | favicon: tabs[0].url"
          size="small">
        </nc-chip>
      </span>
    }
  }

  @if (icons().length > maxIconsLength) {
    <span class="overflow"> +{{ icons().length - maxIconsLength }} </span>
  }
</div>
