<div class="content">
  <app-search *ngIf="hasAnyData$ | async; else empty" [source]="searchSource$ | async">
    <app-top-sites [topSites]="topSites$ | async"></app-top-sites>
    <div class="layout-container">
      <app-devices class="layout-item"></app-devices>
      <app-timeline-element class="layout-item"
        *ngFor="let item of timeline$ | async | orderkeys; trackBy: trackByKey"
        [timelineLabel]="item.key"
        (removed)="removeGroups(item.value)">
        <app-groups [groups]="item.value"></app-groups>
      </app-timeline-element>
    </div>
  </app-search>
</div>
<app-menu [menuItems]="menuItems$ | async"></app-menu>
<ng-template #empty>
  <app-empty>home</app-empty>
</ng-template>
