@import 'common';

app-home {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;

  .content {
    margin: 2rem auto;
    width: 80vw;
    max-width: 75rem;
  }

  app-empty {
    z-index: -1;
  }

  app-menu {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    z-index: 1;
    margin: 0 2rem 1rem 0;
    left: 0;
    right: 0;
  }
}
