@import 'common';

app-home {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;

  .content {
    margin: 2rem auto;
    width: 80vw;
    max-width: 75rem;
  }

  app-empty {
    z-index: -1;
  }

  app-menu {
    display: block;
    position: fixed;
    bottom: 1rem;
    z-index: 1;
    right: 2.3125rem;
  }
}

@media (max-width: 60rem) {
  app-home .content {
    width: auto;
    margin: 2rem;
  }
}
