@import 'common';

:host {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  overflow-y: auto;
}

.content {
  margin: 2rem auto;
  width: 80vw;
  max-width: 75rem;
}

app-empty {
  z-index: -1;
}

app-menu {
  $padding: 1rem;

  position: fixed;
  right: $scrollbar-width + $padding;
  bottom: $padding;
  z-index: 1;
}
