<div class="content">
  <app-search *ngIf="hasAnyData$ | async; else empty" [source]="searchSource$ | async">
    <app-top-sites *ngIf="topSites$ | async as topSites" [topSites]="topSites"></app-top-sites>
    <div class="layout-container">
      <app-timeline-element class="layout-item"
        *ngFor="let item of devicesTimeline$ | async; trackBy: trackByLabel"
        [timelineLabel]="item.label"
        [controls]="false">
        <app-groups [groups]="item.elements"></app-groups>
      </app-timeline-element>
      <app-timeline-element class="layout-item"
        *ngFor="let item of timeline$ | async; trackBy: trackByLabel"
        [timelineLabel]="item.label"
        (removed)="removeGroups(item.elements)">
        <app-groups [groups]="item.elements"></app-groups>
      </app-timeline-element>
    </div>
  </app-search>
</div>
<app-menu [menuItems]="menuItems$ | async"></app-menu>
<ng-template #empty>
  <app-empty>home</app-empty>
</ng-template>
