@use '@angular/material' as mat;
@import 'theme';

@include component-theme using($theme) {
  app-search {
    $border-color: get-palette-color(get-foreground-palette($theme), divider);

    color: get-palette-color(get-foreground-palette($theme), secondary-text);
  }
}

app-search {
  display: flex;
  flex-direction: column;
  flex: 1;

  app-search-form {
    display: block;
    padding: 0.5rem 0;
    position: sticky;
    top: -0.009px;
    z-index: 1;

    &.stuck .controls-wrapper {
      @include mat.elevation(8);
    }
  }

  .search-container {
    padding: 0;
  }
}
