<form *ngIf="hasSearchData$ | async" class="search-form" [formGroup]="formGroup">
  <mat-form-field class="search-field" appearance="fill">
    <mat-icon matPrefix>search</mat-icon>
    <input type="text" formControlName="search" matInput placeholder="Search" autocomplete="off" />
    <button
      *ngIf="hasSearchValue$ | async"
      matSuffix
      mat-icon-button
      [disableRipple]="true"
      tabindex="-1"
      (click)="clearSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
<ng-container [ngSwitch]="hasSearchValue$ | async">
  <ng-container *ngSwitchCase="true">
    <ng-container *ngIf="searchResults$ | async as searchResults">
      <ng-container *ngIf="searchResults.length > 0; else empty">
        <h3 class="results-count" [ngPlural]="searchResults.length">
          <ng-template ngPluralCase="one">One result</ng-template>
          <ng-template ngPluralCase="other">{{ searchResults.length }} results</ng-template>
        </h3>
        <mat-card class="search-container">
          <app-tab-list>
            <app-list-item
              *ngFor="let tab of tabs$ | async; trackBy: trackByTabId"
              [tab]="tab"
              [searchMatches]="(matches$ | async).get(tab)"
              (deleted)="itemDeleted($event)"
              (modified)="itemModified($event)"
              [timelineButton]="true">
            </app-list-item>
          </app-tab-list>
        </mat-card>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="false">
    <ng-content select="app-top-sites"></ng-content>
    <ng-content select=".layout-container"></ng-content>
  </ng-container>
</ng-container>
<ng-template #empty>
  <app-empty>search_off</app-empty>
</ng-template>
