@import 'common';

app-search {
  .search-field {
    width: 100%;
    font-size: 1.15rem;
    margin-bottom: 1rem;

    .mat-form-field-wrapper {
      padding: 0;
      margin: 0;
    }

    .mat-form-field-prefix {
      top: -0.2rem;
      left: 0.75rem;
    }

    .mat-form-field-flex {
      padding: 0;
      border-radius: 4rem;
      height: 3rem;
      align-items: center;
      background-color: transparent;
      border-width: 2px;
      border-style: solid;
      transition: border-color 0.25s ease;
    }

    .mat-input-element {
      height: 3rem;
    }

    .mat-form-field-infix {
      border: none;
      margin-left: 1.5rem;
      padding: 0;
    }

    .mat-form-field-suffix {
      right: 0.5rem;
    }

    .mat-form-field-underline,
    .mat-form-field-subscript-wrapper {
      display: none;
    }
  }

  .search-container {
    padding: 0;
  }

  h3.results-count {
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
  }
}

@include theme using($theme) {
  app-search {
    color: getPaletteColor(getForegroundPalette($theme), secondary-text);
    background-color: getPaletteColor(getBackgroundPalette($theme), background);

    .mat-form-field-flex {
      border-color: getPaletteColor(getForegroundPalette($theme), divider);
    }

    .search-field.mat-focused .mat-form-field-flex {
      border-color: getPaletteColor(getForegroundPalette($theme), disabled-text);
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      color: getPaletteColor(getForegroundPalette($theme), disabled-text);
    }

    .results-count {
      color: getPaletteColor(getForegroundPalette($theme), hint-text);
    }
  }
}
