<form (submit)="onSubmit($event)">
  <mat-card>
    <mat-card-content>
      <section class="section">
        <h3>{{ 'manageCollections' | translate }}</h3>
        <mat-hint>{{ 'hintCollections' | translate }}</mat-hint>
        <section class="storage-controls">
          @for (action of collectionActions; track action) {
            @if (action.color) {
              <button
                matButton="filled"
                [matTooltip]="action.tooltip"
                (click)="handleAction(action.action)"
                [color]="action.color">
                {{ action.label }}
              </button>
            } @else {
              <button
                matButton="outlined"
                [matTooltip]="action.tooltip"
                (click)="handleAction(action.action)"
                [color]="action.color">
                {{ action.label }}
              </button>
            }
          }
        </section>
      </section>
      <section class="section">
        @let _storageUsage = storageUsage();
        @let storageRemaining = 100 - _storageUsage | number: '1.0-0';

        <h3 class="storage-heading">{{ 'syncUsage' | translate }}</h3>
        <mat-hint>{{ 'hintDataUsage' | translate: storageRemaining }}</mat-hint>
        <mat-progress-bar
          mode="determinate"
          [value]="_storageUsage"
          [color]="_storageUsage > 80 ? 'warn' : 'primary'" />
      </section>
      <section class="section toggles">
        <mat-slide-toggle
          [field]="optionsForm.syncStorage"
          data-testid="settings-toggle-sync">
          <div class="toggle-label">{{ 'syncCollections' | translate }}</div>
          <mat-hint>{{ 'hintSyncCollections' | translate }}</mat-hint>
        </mat-slide-toggle>
        <mat-slide-toggle
          [field]="optionsForm.enableDevices"
          data-testid="settings-toggle-devices">
          <div class="toggle-label">{{ 'enableDevices' | translate }}</div>
          <mat-hint>{{ 'hintShowDevices' | translate }}</mat-hint>
        </mat-slide-toggle>
        <mat-slide-toggle
          [field]="optionsForm.enableTopSites"
          data-testid="settings-toggle-sites">
          <div class="toggle-label">{{ 'enableSites' | translate }}</div>
          <mat-hint>{{ 'hintShowTopSites' | translate }}</mat-hint>
        </mat-slide-toggle>
      </section>
      @if (
        optionsModel().ignoreTopSites?.length > 0 &&
        optionsModel().enableTopSites
      ) {
        <section class="section">
          <h3 class="storage-heading">{{ 'ignoredSites' | translate }}</h3>
          <mat-hint>{{ 'hintIgnoredSites' | translate }}</mat-hint>
          <mat-list role="list" class="list">
            @for (
              ignoredSite of optionsModel().ignoreTopSites;
              track ignoredSite;
              let i = $index
            ) {
              <mat-list-item role="listitem">
                <div class="list-item">
                  <span class="list-item-label">
                    {{ ignoredSite?.title }}
                  </span>
                  <button type="button" matIconButton (click)="removeSiteAt(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            }
          </mat-list>
        </section>
      }
    </mat-card-content>
  </mat-card>
</form>
