<div class="container">
  <div class="icon-container">
    <div class="icon">
      <mat-icon>info</mat-icon>
    </div>
  </div>
  <div class="message">
    <span>{{ data.message }}</span>
  </div>
  <div class="controls">
    <button *ngIf="data.actionIcon" 
      mat-icon-button 
      color="primary"
      [matTooltip]="('action.' + data.actionIcon) | translate" 
      (click)="dismissWithAction()">
      <mat-icon>{{ data.actionIcon }}</mat-icon>
    </button>
    <button mat-icon-button (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
