@use '@angular/material' as mat;

app-message {
  @include mat.elevation(8);

  display: block;
  border-radius: 1rem;
  box-sizing: border-box;

  .container {
    display: flex;
    align-items: stretch;
    gap: 1rem;
  }

  .message {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;

    .icon {
      line-height: 0;

      mat-icon {
        font-size: 1.75rem;
        height: 1.75rem;
        width: 1.75rem;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
  }
}
