@import 'common';

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  height: 3rem;
}

.message {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  line-height: 0;

  mat-icon {
    font-size: 1.75rem;
    height: 1.75rem;
    width: 1.75rem;
  }
}

@include theme using($theme) {
  :host {
    .icon {
      color: getPaletteColor(getPrimaryPalette($theme));
    }
  }
}
