@use '@angular/material' as mat;
@use 'sass:color' as color;
@use 'sass:map';

$text: hsl(210, 20%, 90%);
$primary-text: #9aa0a6;
$secondary-text: color.adjust($primary-text, $blackness: 20%);
$disabled-text: color.adjust($primary-text, $blackness: 40%);
$dividers: rgba($primary-text, 0.12);
$focused: rgba($primary-text, 0.12);

$card-background: #f8f9fa;
$bg-darker-5: color.adjust($card-background, $blackness: 5%);
$bg-darker-10: color.adjust($card-background, $blackness: 10%);
$bg-darker-20: color.adjust($card-background, $blackness: 20%);
$bg-darker-30: color.adjust($card-background, $blackness: 30%);

$background-color: #ffffff;
$bg-alpha-4: rgba($background-color, 0.04);
$bg-alpha-12: rgba($background-color, 0.12);
$bg-alpha-24: rgba($background-color, 0.24);

$_palettes: (
  primary: (
    0: #000000,
    10: #001a41,
    20: #002e68,
    25: #00397d,
    30: #004493,
    35: #004fa9,
    40: #005bc0,
    50: #1b73e8,
    60: #4a8eff,
    70: #7fabff,
    80: #adc7ff,
    90: #d8e2ff,
    95: #edf0ff,
    98: #f9f9ff,
    99: #fefbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #00006e,
    20: #0000ac,
    25: #0000cd,
    30: #080bea,
    35: #222af4,
    40: #343dff,
    50: #5a64ff,
    60: #7c84ff,
    70: #9da3ff,
    80: #bfc2ff,
    90: #e0e0ff,
    95: #f1efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001a41,
    20: #002e68,
    25: #00397d,
    30: #004493,
    35: #004fa9,
    40: #005bc0,
    50: #1b73e8,
    60: #4a8eff,
    70: #7fabff,
    80: #adc7ff,
    90: #d8e2ff,
    95: #edf0ff,
    98: #f9f9ff,
    99: #fefbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c1c,
    20: #2f3131,
    25: #3a3c3c,
    30: #454747,
    35: #515353,
    40: #5d5f5f,
    50: #767777,
    60: #909191,
    70: #aaabab,
    80: #c6c6c7,
    90: #e2e2e2,
    95: #f0f1f1,
    98: #f9f9f9,
    99: #fcfcfc,
    100: #ffffff,
    4: #0c0f0f,
    6: #121414,
    12: #1e2020,
    17: #282a2b,
    22: #333535,
    24: #37393a,
    87: #dadada,
    92: #e8e8e8,
    94: #eeeeee,
    96: #f3f3f4,
  ),
  neutral-variant: (
    0: #000000,
    10: #161c27,
    20: #2b303d,
    25: #363b48,
    30: #414754,
    35: #4d5260,
    40: #595e6c,
    50: #727785,
    60: #8b909f,
    70: #a6abba,
    80: #c1c6d6,
    90: #dee2f2,
    95: #edf0ff,
    98: #f9f9ff,
    99: #fefbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
