@use 'sass:map';
@use '@angular/material' as mat;

$scrollbar-width: 0.5rem;
$popup-width: 32rem;
$popup-height: 35rem;
$cubic-ease: 225ms cubic-bezier(0.4, 0, 0.2, 1);

@mixin vertical-flex() {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

@mixin body-small() {
  font: var(--mat-sys-body-small);
}

@mixin vertical-flex() {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

@mixin vertical-flex() {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}
