@use 'sass:map';
@use '@angular/material' as mat;

$scrollbar-width: 0.5rem;
$popup-width: 32rem;
$popup-height: 35rem;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$cubic-ease: 225ms $cubic-bezier;
$desktop-width: 60rem;

@mixin vertical-flex() {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}
