@use '@angular/material' as mat;
@import 'common';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-width: $popup-width;
  min-height: $popup-height;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

@include theme using($theme) {
  ::-webkit-scrollbar-track {
    background: getPaletteColor(getBackgroundPalette($theme), background);
  }

  ::-webkit-scrollbar-thumb {
    background: getPaletteColor(getForegroundPalette($theme), divider);
  }

  body {
    background: getPaletteColor(getBackgroundPalette($theme), background);
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: getPaletteColor(getPrimaryPalette($theme));
    }
  }

  .message-container.mat-snack-bar-container {
    color: getPaletteColor(getForegroundPalette($theme), secondary-text);
    background: getPaletteColor(getBackgroundPalette($theme), background);
  }

  .bottom-sheet.mat-bottom-sheet-container {
    background: getPaletteColor(getBackgroundPalette($theme), background);
    overflow: hidden;
  }
}

.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  .mat-badge-content {
    font-family: 'Roboto';
  }
}

.message-container.mat-snack-bar-container {
  @include mat.elevation(8);

  padding: 0;
  border-radius: 2rem;
}

.cdk-overlay-pane.mat-snack-bar-handset {
  width: unset;

  .mat-snack-bar-container {
    max-width: 33vw;
    min-width: 344px;
    margin: 24px;
  }
}

.bottom-sheet.mat-bottom-sheet-container {
  min-width: auto;
  padding: 0;
}

.mat-accordion {
  .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-expansion-panel-header {
    display: flex;
    align-items: center;
    padding: 0;
    height: 3rem;

    &.mat-expanded {
      height: 4rem;
    }

    .mat-content {
      display: block;
      overflow: hidden;
    }
  }

  .mat-expansion-panel-header-title {
    align-items: center;
    margin-left: 1rem;
  }

  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    margin-right: 0;
    white-space: nowrap;
  }

  .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
  }

  .mat-expansion-panel.mat-expanded {
    @include mat.elevation(8);
    margin: 2rem 0;
  }
}
