@import 'fonts';
@import 'material-icons';
@import 'theme';

$popup-width: 500px;
$popup-height: 600px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  min-width: $popup-width;
  max-width: $popup-width;
  min-height: $popup-height;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

@media (prefers-color-scheme: light) {
  @include angular-material-theme($light-theme);
}

@media (prefers-color-scheme: dark) {
  @include angular-material-color($dark-theme);
}

@include theme using($theme) {
  ::-webkit-scrollbar-track {
    background: mat-color(getBackground($theme), background);
  }

  ::-webkit-scrollbar-thumb {
    background: mat-color(getForeground($theme), divider);
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: mat-color(getAccent($theme));
    }
  }
}
