@use '@angular/material' as mat;
@use 'sass:color' as color;
@use 'dark-colors' as dark-colors;
@use 'light-colors' as light-colors;

$_typography-config: (
  plain-family: Roboto,
  bold-weight: 500,
  medium-weight: 400,
  regular-weight: 300,
);

$_dark-text: #000000;
$_dark-primary-text: rgba($_dark-text, 0.87);
$_dark-secondary-text: rgba($_dark-primary-text, 0.54);
$_dark-disabled-text: rgba($_dark-primary-text, 0.38);
$_dark-dividers: rgba($_dark-primary-text, 0.12);
$_dark-focused: rgba($_dark-primary-text, 0.12);

$_light-text: #ffffff;
$_light-primary-text: #9aa0a6;
$_light-secondary-text: rgba($_light-primary-text, 0.7);
$_light-disabled-text: rgba($_light-primary-text, 0.5);
$_light-dividers: rgba($_light-primary-text, 0.12);
$_light-focused: rgba($_light-primary-text, 0.12);

$_light-background-color: #ffffff;
$_dark-background-color: #242528;

$light-background: $_light-background-color;
$_light-card-background: #f8f9fa;
$_light-bg-darker-5: color.adjust($_light-card-background, $blackness: 5%);
$_light-bg-darker-10: color.adjust($_light-card-background, $blackness: 10%);
$_light-bg-darker-20: color.adjust($_light-card-background, $blackness: 20%);
$_light-bg-darker-30: color.adjust($_light-card-background, $blackness: 30%);
$_light-bg-lighter-5: $_light-card-background;
$_dark-bg-tooltip: color.adjust($_dark-background-color, $lightness: 20%);
$_dark-bg-alpha-4: rgba($_dark-background-color, 0.04);
$_dark-bg-alpha-12: rgba($_dark-background-color, 0.12);
$_dark-bg-alpha-24: rgba($_dark-background-color, 0.24);

$_dark-background: $_dark-background-color;
$_dark-card-background: #303134;
$_dark-bg-lighter-5: $_dark-card-background;
$_dark-bg-lighter-10: color.adjust($_dark-card-background, $lightness: 10%);
$_dark-bg-lighter-20: color.adjust($_dark-card-background, $lightness: 20%);
$_dark-bg-lighter-30: color.adjust($_dark-card-background, $lightness: 30%);
$_light-bg-alpha-4: rgba($_light-background-color, 0.04);
$_light-bg-alpha-12: rgba($_light-background-color, 0.12);
$_light-bg-alpha-24: rgba($_light-background-color, 0.24);

:root {
  --nc-text: light-dark(#{$_dark-text}, #{$_light-text});
  --nc-text-inverse: light-dark(#{$_light-text}, #{$_dark-text});
  --nc-primary-text: light-dark(
    #{$_dark-primary-text},
    #{$_light-primary-text}
  );
  --nc-primary-text-inverse: light-dark(
    #{$_light-primary-text},
    #{$_dark-primary-text}
  );
  --nc-disabled-text: light-dark(
    #{$_dark-disabled-text},
    #{$_light-disabled-text}
  );
  --nc-secondary-text: light-dark(
    #{$_dark-secondary-text},
    #{$_light-secondary-text}
  );
  --nc-secondary-text-inverse: light-dark(
    #{$_light-secondary-text},
    #{$_dark-secondary-text}
  );

  --nc-dividers: light-dark(#{$_dark-dividers}, #{$_light-dividers});

  color-scheme: light dark;

  @include mat.theme(
    (
      typography: $_typography-config,
      density: 0,
      color: (
        primary: dark-colors.$primary-palette,
        tertiary: dark-colors.$tertiary-palette,
        theme-type: dark,
      ),
    )
  );

  @include mat.theme-overrides(
    (
      on-primary: $_dark-text,
      on-surface-variant: $_light-primary-text,
    )
  );

  body,
  ::-webkit-scrollbar-track {
    background: var(--mat-sys-surface-container);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--mat-sys-surface-container-high);
  }

  .mat-mdc-dialog-container.mdc-dialog {
    ::-webkit-scrollbar-track {
      background: var(--mat-sys-surface-container);
    }

    ::-webkit-scrollbar-thumb {
      background: var(--mat-sys-surface-container-highest);
    }
  }
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: var(--mat-sys-primary);
  }
}

.cdk-drag-preview {
  background-color: var(--mat-sys-surface-container-high);
}

.mdc-icon-button.mat-mdc-icon-button:not(.mat-mdc-button-disabled) {
  &.mat-primary {
    color: var(--mat-sys-primary);
  }
}

@include mat.expansion-overrides(
  (
    container-background-color: var(--mat-sys-surface-container-high),
    container-text-color: var(--mat-sys-on-surface),
  )
);

@include mat.divider-overrides(
  (
    color: var(--nc-dividers),
  )
);

@include mat.dialog-overrides(
  (
    container-color: var(--mat-sys-surface-container),
    container-elevation-shadow: var(--mat-sys-level5),
    subhead-size: var(--mat-sys-title-large-size),
  )
);

@include mat.card-overrides(
  (
    elevated-container-color: var(--mat-sys-surface-container-high),
  )
);

@include mat.badge-overrides(
  (
    background-color: var(--mat-sys-primary),
    text-color: var(--mat-sys-on-primary),
  )
);

@include mat.fab-overrides(
  (
    container-color: var(--mat-sys-primary),
    foreground-color: var(--mat-sys-on-primary),
    small-foreground-color: var(--mat-sys-on-primary),
  )
);

@media (prefers-color-scheme: light) {
  :root {
    @include mat.theme(
      (
        typography: $_typography-config,
        density: 0,
        color: (
          primary: light-colors.$primary-palette,
          tertiary: light-colors.$tertiary-palette,
          theme-type: light,
        ),
      )
    );

    @include mat.theme-overrides(
      (
        on-primary: $_light-text,
        on-surface-variant: $_dark-primary-text,
      )
    );

    body,
    ::-webkit-scrollbar-track {
      background: var(--mat-sys-surface);
    }

    ::-webkit-scrollbar-thumb {
      background: var(--mat-sys-surface-container-high);
    }

    .mat-mdc-dialog-container.mdc-dialog {
      ::-webkit-scrollbar-thumb {
        background: var(--mat-sys-surface-dim);
      }
    }
  }

  @include mat.expansion-overrides(
    (
      container-background-color: var(--mat-sys-surface-container),
      container-text-color: var(--mat-sys-on-surface),
    )
  );

  @include mat.card-overrides(
    (
      elevated-container-color: var(--mat-sys-surface-container),
    )
  );
}
