@use '@angular/material' as mat;
@use 'dark-colors' as dark;
@use 'light-colors' as light;

$group-colors: (
  blue: light-dark(royalblue, lightskyblue),
  cyan: light-dark(teal, darkturquoise),
  green: light-dark(green, lightgreen),
  grey: light-dark(dimgray, lightgray),
  orange: light-dark(darkorange, sandybrown),
  pink: light-dark(mediumvioletred, hotpink),
  purple: light-dark(darkviolet, mediumpurple),
  red: light-dark(orangered, lightcoral),
  yellow: light-dark(goldenrod, gold),
);

$_typography-config: (
  plain-family: Roboto,
  bold-weight: 500,
  medium-weight: 400,
  regular-weight: 300,
);

:root {
  --nc-text-color: light-dark(#{dark.$text}, #{light.$text});
  --nc-text-color-inverse: light-dark(#{light.$text}, #{dark.$text});
  --nc-primary-text-color: light-dark(
    #{dark.$primary-text},
    #{light.$primary-text}
  );
  --nc-primary-text-color-inverse: light-dark(
    #{light.$primary-text},
    #{dark.$primary-text}
  );
  --nc-disabled-text-color: light-dark(
    #{dark.$disabled-text},
    #{light.$disabled-text}
  );
  --nc-secondary-text-color: light-dark(
    #{dark.$secondary-text},
    #{light.$secondary-text}
  );
  --nc-secondary-text-color-inverse: light-dark(
    #{light.$secondary-text},
    #{dark.$secondary-text}
  );

  --nc-dividers: light-dark(#{dark.$dividers}, #{light.$dividers});

  --mat-expansion-header-hover-state-layer-color: light-dark(
    #{dark.$bg-alpha-4},
    #{light.$bg-alpha-4}
  );

  @each $group-color, $value in $group-colors {
    --nc-tab-group-#{'' + $group-color}: #{$value};
  }

  color-scheme: light dark;

  @include mat.theme(
    (
      typography: $_typography-config,
      density: 0,
      color: (
        primary: dark.$primary-palette,
        tertiary: dark.$tertiary-palette,
        theme-type: dark,
      ),
    )
  );

  @include mat.theme-overrides(
    (
      on-primary: dark.$text,
      on-surface-variant: light.$primary-text,
      surface-variant: dark.$bg-lighter-10,
    )
  );

  body,
  ::-webkit-scrollbar-track {
    background: var(--mat-sys-surface-container);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--mat-sys-surface-container-high);
  }

  .mat-mdc-dialog-container.mdc-dialog {
    ::-webkit-scrollbar-track {
      background: var(--mat-sys-surface-container);
    }

    ::-webkit-scrollbar-thumb {
      background: var(--mat-sys-surface-container-highest);
    }
  }
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: var(--mat-sys-primary);
  }
}

.cdk-drag-preview {
  background-color: var(--mat-sys-surface-container-high);
}

.mdc-icon-button.mat-mdc-icon-button:not(.mat-mdc-button-disabled) {
  &.mat-primary {
    color: var(--mat-sys-primary);
  }
}

@include mat.expansion-overrides(
  (
    container-background-color: var(--mat-sys-surface-container-high),
    container-text-color: var(--mat-sys-on-surface),
    container-shape: 12px,
  )
);

@include mat.divider-overrides(
  (
    color: var(--nc-dividers),
  )
);

@include mat.dialog-overrides(
  (
    container-color: var(--mat-sys-surface-container),
    container-elevation-shadow: var(--mat-sys-level5),
    subhead-size: var(--mat-sys-title-large-size),
  )
);

@include mat.card-overrides(
  (
    elevated-container-color: var(--mat-sys-surface-container-high),
  )
);

@include mat.badge-overrides(
  (
    background-color: var(--mat-sys-primary),
    text-color: var(--mat-sys-on-primary),
  )
);

@include mat.fab-overrides(
  (
    container-color: var(--mat-sys-primary),
    foreground-color: var(--mat-sys-on-primary),
    small-foreground-color: var(--mat-sys-on-primary),
  )
);

@media (prefers-color-scheme: light) {
  :root {
    @include mat.theme(
      (
        typography: $_typography-config,
        density: 0,
        color: (
          primary: light.$primary-palette,
          tertiary: light.$tertiary-palette,
          theme-type: light,
        ),
      )
    );

    @include mat.theme-overrides(
      (
        on-primary: #ffffff,
        on-surface-variant: dark.$primary-text,
        surface-variant: light.$bg-darker-10,
        surface: light.$background-color,
      )
    );

    body,
    ::-webkit-scrollbar-track {
      background: var(--mat-sys-surface);
    }

    ::-webkit-scrollbar-thumb {
      background: var(--mat-sys-surface-container-high);
    }

    .mat-mdc-dialog-container.mdc-dialog {
      ::-webkit-scrollbar-thumb {
        background: var(--mat-sys-surface-dim);
      }
    }
  }

  @include mat.expansion-overrides(
    (
      container-background-color: light.$card-background,
      container-text-color: var(--mat-sys-on-surface),
    )
  );

  @include mat.card-overrides(
    (
      elevated-container-color: light.$card-background,
    )
  );
}
