@import 'theme';

app-groups {
  display: block;

  .accordion-align {
    .mat-expansion-panel-header {
      padding: 0;
    }

    .mat-expansion-panel-header-title {
      align-items: center;
    }

    .header-icons {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      app-image-icon:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      margin-right: 0;
    }

    .mat-expansion-panel-header-description {
      justify-content: flex-end;
      align-items: center;
      margin-right: 1rem;
    }

    .mat-content {
      align-items: center;
      overflow: visible;
    }

    .mat-list-base .mat-list-item {
      .mat-list-icon {
        width: 2rem;
        height: 2rem;
      }

      .mat-list-item-content {
        padding: 0;
      }
    }

    .mat-expansion-panel.mat-expanded {
      @include mat-elevation(8);
      margin-top: 0;
    }
  }

  .panel-controls {
    display: none;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    &.visible {
      display: flex;
    }

    .timestamp {
      margin-left: 0.5rem;
    }
  }
}

@include theme using($theme) {
  app-groups .panel-controls {
    color: mat-color(getForeground($theme), disabled-text);
  }
}
