@import 'common';

$drag-transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);

app-groups {
  display: block;

  .mat-expansion-panel-header {
    .expanded {
      display: none;
    }

    .mat-content-hide-toggle {
      margin-right: 0;
    }

    &.mat-expanded {
      .expanded {
        display: block;
      }

      .collapsed {
        display: none;
      }
    }
  }

  app-tab-list.cdk-drop-list.cdk-drop-list-dragging {
    pointer-events: none;

    app-list-item.cdk-drag:not(.cdk-drag-placeholder) {
      transition: $drag-transition;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.25rem -0.25rem rgba(0, 0, 0, 0.2), 0 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.14),
    0 0.25rem 1rem 0.25rem rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: $drag-transition;
}

@include theme using($theme) {
  .cdk-drag-preview {
    background: getPaletteColor(getBackgroundPalette($theme), background);
  }
}
