<div class="header-container">
  <div class="icons-container" *ngIf="icons$ | async as icons">
    <ng-container *ngFor="let tabs of icons; let i = index">
      <span
        *ngIf="i < maxIconsLength"
        class="badged-icon"
        matBadgeSize="small"
        [matBadge]="tabs.length"
        [matBadgeHidden]="tabs.length <= 1">
        <app-icon-chip [source]="tabs[0].favIconUrl"  
          [label]="tabs[0].title" 
          [labelHidden]="tabs.length > 1"
          size="small">
        </app-icon-chip>
      </span>
    </ng-container>
    <span class="overflow" *ngIf="icons.length > maxIconsLength"> +{{ icons.length - maxIconsLength }} </span>
  </div>
  <div class="description">{{ group.tabs.length }} Tabs</div>
</div>
