@import 'common';

app-top-sites {
  display: block;
  position: relative;

  .container {
    margin: 1rem 0;

    .site-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 1rem;
      overflow: hidden;

      .site {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 2rem;
        height: 1.5rem;

        &:hover .remove-btn {
          display: flex;
        }

        .site-link {
          display: block;
          position: relative;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-right: 0.5rem;
          flex: 1;
        }

        .remove-btn {
          align-items: center;
          border-radius: 1rem;
          box-sizing: border-box;
          cursor: pointer;
          display: none;
          height: 1rem;
          justify-content: center;
          margin: 0;
          padding: 0.75rem;
          position: relative;
          width: 1rem;
          border: 0;

          .mat-icon {
            font-size: 1rem;
            height: 1rem;
            line-height: 1rem;
            width: 1rem;
          }
        }
      }
    }
  }
}

@include theme using($theme) {
  app-top-sites {
    .site-container {
      .site {
        background: getPaletteColor(getBackgroundPalette($theme), disabled-list-option);
      }

      .site-link {
        color: getPaletteColor(getForegroundPalette($theme), text);
      }

      .remove-btn {
        color: getPaletteColor(getForegroundPalette($theme), text);
        background: getPaletteColor(getBackgroundPalette($theme), card);
      }
    }
  }
}
