app-top-sites {
  .container {
    margin: 1rem 0;

    .site-container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: space-between;

      .spacer {
        flex: 1 1 auto;
      }
    }
  }
}
