@use 'common' as common;

$padding: 0.5rem;

html,
body {
  margin: 0;
  padding: 0;

  width: common.$popup-width;
  height: common.$popup-height;

  min-width: common.$popup-width;
  min-height: common.$popup-height;

  max-width: common.$popup-width;
  max-height: common.$popup-height;
}

html {
  @include common.vertical-flex;
  overflow: hidden;
}

nc-popup {
  @include common.vertical-flex;

  .content {
    @include common.vertical-flex;
    margin: 0 $padding $padding;
  }

  .search-form .controls-wrapper {
    margin: 0 $padding;
  }
}
