@use '@angular/material' as mat;
@import 'theme';

@include component-theme using($theme) {
  app-options {
    .list-container {
      fieldset {
        border-color: getPaletteColor(getForegroundPalette($theme), divider);
      }
    }
  }
}

$typography-config: mat.get-typography-config($dark-theme);

html,
body {
  min-width: 32rem;
  min-height: 35rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

app-options {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;

  h4 {
    @include mat.typography-level($typographyConfig, subtitle-1);
  }

  .mat-mdc-form-field-hint {
    @include mat.typography-level($typographyConfig, caption);
  }

  .mdc-card {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 1rem auto;
    box-sizing: border-box;

    .storage {
      display: flex;
      align-items: center;
      margin: 0 0 1rem;

      .storage-usage {
        h4.storage-heading {
          margin: 0;
        }

        .mat-mdc-form-field-hint {
          margin-bottom: 1rem;
          position: relative;
          display: block;
        }
      }

      .storage-controls {
        align-items: center;
        justify-content: flex-end;
        display: flex;
        flex: 1 1 auto;
      }
    }

    .toggles {
      padding-top: 1rem;

      .toggle-label {
        line-height: 1rem;
      }

      .mat-mdc-slide-toggle {
        margin-bottom: 1rem;

        .mdc-label {
          margin-left: 1rem;
        }
      }
    }

    .list-container {
      fieldset {
        border-radius: 1rem;
        min-inline-size: auto;
      }

      .ignore-heading {
        margin: 0;
      }

      .list {
        .list-item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .list-item-label {
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 1rem;
          }

          .mdc-icon-button {
            padding: 0;
            width: unset;
            height: unset;
            line-height: 0;
          }
        }
      }
    }
  }
}
