<form [formGroup]="formGroup" (ngSubmit)="save()">
  <div class="container">
    <div class="header">
      <span class="heading">
        Tabs {{ selectionLength$ | async }} / {{ tabs.length }}
      </span>
      <div class="controls">
        <button type="submit" mat-icon-button [disabled]="!formGroup.valid" matTooltip="Add Selected">
          <mat-icon>add</mat-icon>
        </button>
        <div class="checkbox-container">
          <mat-checkbox
            color="primary"
            [checked]="allSelected$ | async"
            [indeterminate]="someSelected$ | async"
            (change)="selectAll($event.checked)">
          </mat-checkbox>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="list-container">
      <mat-selection-list formControlName="list">
        <mat-list-option *ngFor="let tab of tabs" [value]="tab" color="primary">
          <div class="list-item">
            <app-chip [source]="tab.favIconUrl" size="small"></app-chip>
            <div class="item-text">
              <div class="item-title">{{ tab.title }}</div>
              <span class="item-subtitle">
                <span>{{ tab.url | hostname }}</span>
                <mat-icon *ngIf="tab.pinned">lock</mat-icon>
                <mat-icon *ngIf="tab.active">tab</mat-icon>
              </span>
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</form>
