<form [formGroup]="formGroup" (ngSubmit)="save()">
  <div class="container">
    <div class="header-container">
      <div class="header">
        <span class="heading" translate [translateParams]="{
            selected: selectionLength$ | async,
            total: tabs.length
          }">
          tabsCount
        </span>
        <div class="controls">
          <button type="submit" 
            mat-icon-button
            color="primary"
            [disabled]="!formGroup.valid" 
            [matTooltip]="'addSelected' | translate">
            <mat-icon>add</mat-icon>
          </button>
          <div class="checkbox-container">
            <mat-checkbox
              color="primary"
              [checked]="allSelected$ | async"
              [indeterminate]="someSelected$ | async"
              (change)="selectAll($event.checked)">
            </mat-checkbox>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="list-container">
      <mat-selection-list formControlName="list">
        @for (tab of tabs; track tab) {
          <mat-list-option [value]="tab" color="primary">
            <div class="list-item">
              <app-chip [source]="tab.favIconUrl | favicon: tab.url" size="small"></app-chip>
              <div class="item-text">
                <div class="item-title">{{ tab.title }}</div>
                <span class="item-subtitle">
                  @if (tab.active) {
                    <app-label>{{ 'active' | translate }}</app-label>
                  }

                  @if (tab.pinned) {
                    <app-label>{{ 'pinned' | translate }}</app-label>
                  }

                  <span class="subtitle">{{ tab.url | hostname }}</span>
                </span>
              </div>
            </div>
          </mat-list-option>
        }
      </mat-selection-list>
    </div>
  </div>
</form>
