$size-small: 1rem;
$size-medium: 2rem;

:host, img {
  display: block;

  &.small {
    width: $size-small;
    height: $size-small;
  }

  &.medium {
    width: $size-medium;
    height: $size-medium;
  }
}
