$size-small: 1rem;
$size-medium: 1.5rem;

:host,
img {
  display: block;

  &.small {
    width: $size-small;
    height: $size-small;
  }

  &.medium {
    width: $size-medium;
    height: $size-medium;
  }
}
