@import 'theme';

$padding: 1rem;

:host {
  display: block;
  min-height: 350px;
}

mat-sidenav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  app-groups {
    margin: $padding;
  }
}

.fab-menu {
  $padding: $padding;
  position: fixed;
  right: $padding + $scrollbar-width;
  bottom: $padding;
  z-index: 1;
}
