@import 'theme';

:host {
  display: block;
  min-height: 350px;
}

mat-sidenav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.save-btn {
  $padding: 1rem;
  position: fixed;
  right: $padding + $scrollbar-width;
  top: $padding;
  z-index: 1;
}
