@use 'sass:map';
@use '@angular/material' as mat;

@import 'theme';

@include component-theme using($theme) {
  app-chip {
    .icons-container .overflow {
      color: getPaletteColor(getForegroundPalette($theme), disabled-text);
    }

    .icon-container {
      background-color: getPaletteColor(getBackgroundPalette($theme), disabled-list-option);

      .icon-label {
        color: getPaletteColor(getForegroundPalette($theme), text);
      }
    }
  }
}

@media (max-width: 50rem) {
  app-chip .icon-container .icon-label {
    display: none;
  }
}

app-chip {
  .icon-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    gap: 0.5rem;
    max-width: 12rem;
    min-width: 2rem;

    &.medium {
      max-width: 14rem;
    }

    &.large {
      padding: 0.5rem 0.75rem;
      max-width: 16rem;
    }

    .icon-label {
      line-height: 1rem;
      margin-right: 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
