<a class="container" matRipple href="{{ tab().url }}" [target]="target()">
  <app-chip [source]="tab().favIconUrl | favicon: tab().url" />
  <div class="text-container">
    <div class="title-container">
      <span class="title">{{ tab().title }}</span>
    </div>
    <div class="subtitle-container">
      @if (hasLabels$ | async) {
        <span class="label-container">
          @let openTabsCount = openTabsCount$ | async;
          @let dupTabs = dupTabs$ | async;

          @if (openTabsCount) {
            <app-label color="primary">
              {{ translate('openTabs') }}
            </app-label>
          }

          @if (dupTabs > 1) {
            <app-label color="accent">
              {{ translate('savedCount', openTabsCount.toString()) }}
            </app-label>
          }

          @if (activeTab$ | async) {
            <app-label>
              {{ translate('active') }}
            </app-label>
          }

          @if (pinnedTab$ | async) {
            <app-label>
              {{ translate('pinned') }}
            </app-label>
          }
        </span>
      }
      <span class="subtitle">{{ tab().url }}</span>
    </div>
  </div>

  @let inTimeline = inTimeline$ | async;
  @let notReadOnly = notReadOnly$ | async;

  @if (inTimeline || notReadOnly) {
    <div class="controls">
      @if (inTimeline) {
        <button appStopPropagation mat-icon-button [matTooltip]="translate('find')" (click)="find.emit(tab())">
          <mat-icon>manage_search</mat-icon>
        </button>
      }

      @if (notReadOnly) {
        <button appStopPropagation mat-icon-button (click)="editClick()" [matTooltip]="translate('edit')">
          <mat-icon>edit_note</mat-icon>
        </button>
      }

      @if (notReadOnly) {
        <button appStopPropagation mat-icon-button (click)="deleteClick()" [matTooltip]="translate('delete')">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  }
</a>

@if (focused()) {
  <app-ripple [focused]="focused()" />
}
