@use '@angular/material' as mat;
@import 'theme';

$typography-config: mat.m2-get-typography-config($dark-theme);

@include component-theme using($theme) {
  $primary-palette: get-primary-palette($theme);

  nc-list-item {
    .container,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: get-palette-color(get-foreground-palette($theme), text);
    }

    &:hover,
    &.active {
      background-color: get-palette-color(
        get-background-palette($theme),
        hover
      );
    }

    &.active::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-left: 3px solid get-palette-color($primary-palette);
    }

    .subtitle,
    .controls {
      color: get-palette-color(get-foreground-palette($theme), secondary-text);
    }

    .title-container .mat-icon {
      color: get-palette-color(get-foreground-palette($theme), disabled-text);
    }
  }
}

nc-list-item {
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  .container {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    margin: 0;
    gap: 1rem;
    cursor: pointer;

    &:hover {
      padding-right: 0.5rem;

      .controls {
        display: flex;
      }
    }
  }

  .controls {
    display: none;
    align-items: center;
  }

  .text-container {
    flex-grow: 1;

    .title-container {
      @include mat.m2-typography-level($typography-config, subtitle-1);

      display: flex;
      align-items: center;
      overflow: hidden;
      gap: 0.5rem;

      .title {
        flex: 0 1 auto;
      }

      .mat-icon {
        font-size: 1rem;
        width: auto;
        height: auto;
      }
    }

    .label-container {
      @include mat.m2-typography-level($typography-config, caption);

      display: flex;
      overflow: hidden;
      align-items: center;
      gap: 0.25rem;
      flex: 0 0 auto;
    }

    .subtitle-container {
      @include mat.m2-typography-level($typography-config, caption);

      display: flex;
      overflow: hidden;
      align-items: center;
      gap: 0.25rem;
    }

    &,
    .title,
    .subtitle {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
