@let tabValue = tab();

<a
  class="container"
  [rankTab]="tabValue.id"
  matRipple
  [href]="tabValue.url"
  [target]="target()">
  <nc-chip [source]="tabValue.favIconUrl | favicon: tabValue.url" />
  <div class="text-container">
    <div class="title-container">
      <span class="title">{{ tabValue.title }}</span>
      @if (isRecent()) {
        <mat-icon>search_activity</mat-icon>
      }
    </div>
    <div class="subtitle-container">
      @if (hasLabels$ | async) {
        <span class="label-container">
          @let openTabsCount = openTabsCount$ | async;
          @let dupTabs = dupTabs$ | async;

          @if (openTabsCount) {
            <nc-label color="primary">
              {{ 'openTabs' | translate: openTabsCount.toString() }}
            </nc-label>
          }

          @if (dupTabs > 1) {
            <nc-label color="accent">
              {{ 'savedCount' | translate: dupTabs?.toString() }}
            </nc-label>
          }

          @if (activeTab$ | async) {
            <nc-label>
              {{ 'active' | translate }}
            </nc-label>
          }

          @if (pinnedTab$ | async) {
            <nc-label>
              {{ 'pinned' | translate }}
            </nc-label>
          }
        </span>
      }
      <span class="subtitle">{{ tabValue.url }}</span>
    </div>
  </div>

  @let inTimeline = inTimeline$ | async;
  @let notReadOnly = notReadOnly$ | async;

  @if (inTimeline || notReadOnly) {
    <div class="controls">
      @if (inTimeline) {
        <button
          stopPropagation
          mat-icon-button
          [matTooltip]="'find' | translate"
          (click)="find.emit(tabValue)">
          <mat-icon>manage_search</mat-icon>
        </button>
      }

      @if (notReadOnly) {
        <button
          stopPropagation
          mat-icon-button
          (click)="editClick()"
          [matTooltip]="'edit' | translate">
          <mat-icon>edit_note</mat-icon>
        </button>
      }

      @if (notReadOnly) {
        <button
          stopPropagation
          mat-icon-button
          (click)="deleteClick()"
          [matTooltip]="'delete' | translate">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  }
</a>

@if (focused()) {
  <nc-ripple [focused]="focused()" />
}
