nc-list-item {
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  .container,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: var(--nc-text);
  }

  &:hover,
  &.active {
    background-color: var(--mat-sys-surface-container-highest);
  }

  &.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-left: 3px solid var(--mat-sys-primary);
  }

  .subtitle,
  .controls {
    color: var(--mat-sys-on-surface-variant);
  }

  .container {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    margin: 0;
    gap: 1rem;
    cursor: pointer;

    &:hover {
      padding-right: 0.5rem;

      .controls {
        display: flex;
      }
    }
  }

  .controls {
    display: none;
    align-items: center;
  }

  .text-container {
    flex-grow: 1;

    .title-container {
      font: var(--mat-sys-title-small);

      display: flex;
      align-items: center;
      overflow: hidden;
      gap: 0.5rem;

      .title {
        flex: 0 1 auto;
      }
    }

    .subtitle-container {
      font: var(--mat-sys-label-medium);

      display: flex;
      overflow: hidden;
      align-items: center;
      gap: 0.25rem;
    }

    &,
    .title,
    .subtitle {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
