@let tabValue = tab();

<a class="container" matRipple [href]="tabValue.url" [target]="target()">
  <nc-chip [source]="tabValue.favIconUrl | favicon: tabValue.url" />
  <div class="text-container">
    <div class="title-container">
      <span class="title">{{ tabValue.title }}</span>
    </div>
    <div class="subtitle-container">
      <span class="subtitle">{{ tabValue.url }}</span>
    </div>
  </div>

  @if (tabActions?.length) {
    <div class="controls">
      @for (action of tabActions; track action) {
        <button
          stopPropagation
          mat-icon-button
          [matTooltip]="action.label | translate"
          (click)="handleAction(action)">
          <mat-icon>{{ action.icon }}</mat-icon>
        </button>
      }
    </div>
  }
</a>

@if (focused()) {
  <nc-ripple [focused]="focused()" />
}
