nc-panel-header {
  display: block;
  height: inherit;

  .header-container {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.5rem;
    overflow: hidden;
    gap: 1rem;
    min-height: 3rem;

    &.disabled {
      pointer-events: none;
    }

    &:not(.disabled):hover {
      .description {
        .fav {
          display: flex;
        }

        .total {
          display: none;
        }
      }
    }
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 0;
    color: var(--nc-primary-text);

    .text:first-of-type {
      color: var(--nc-text);
    }

    .text:not(:last-of-type) {
      margin-right: 0.625rem;

      &::after {
        content: ',';
      }
    }
  }

  .description {
    color: var(--mat-sys-on-surface-variant);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    .total {
      font: var(--mat-sys-label-medium);
      background-color: var(--mat-sys-surface-variant);
    }

    .total,
    .fav {
      width: 1.75rem;
      height: 1.75rem;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
    }

    .total {
      display: flex;
    }

    .fav {
      display: none;
    }
  }

  .icons-container .overflow {
    color: var(--nc-disabled-text);
  }
}
