@let titleText = title();
@let totalVal = total();

<div class="header-container" [ngClass]="{ disabled: readOnly() }">
  <nc-icons-container [icons]="icons()"></nc-icons-container>
  @if (titleText?.length > 0) {
    <div class="title">
      @for (text of titleText; track text) {
        <span class="text">{{ text }}</span>
      }
    </div>
  }
  @if (totalVal > 0) {
    <div class="description">
      <div
        stopPropagation
        class="fav"
        [matTooltip]="(pinned() ? 'unpin' : 'pin') | translate"
        (click)="favClicked()">
        @if (pinned()) {
          <mat-icon>keep_off</mat-icon>
        } @else {
          <mat-icon>keep</mat-icon>
        }
      </div>
      <div class="total">{{ totalVal }}</div>
    </div>
  }
</div>
