nc-label {
  flex: 0 0 0;
  border-radius: 1rem;
  padding: 0 0.5rem;

  background-color: var(--mat-sys-disabled-list-option);
  color: var(--mat-sys-text);

  &.theme-primary {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }

  &.theme-warn {
    background-color: var(--mat-sys-warn);
    color: var(--mat-sys-on-warn);
  }

  &.theme-accent {
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
  }
}
