@use '@angular/material' as mat;

@import 'common';

$typography: mat.define-typography-config();

app-tab-list {
  .mat-list-base {
    padding: 0;

    .mat-list-item {
      height: 5rem;
      cursor: pointer;

      .mat-list-item-content {
        padding: 0 0.5rem 0 1rem;
        gap: 1rem;
      }
    }
  }
}

.text-container {
  flex-grow: 1;

  &,
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title,
  .link {
    line-height: 1rem;
  }

  .title {
    @include mat.typography-level($typography, subheading-1);
  }

  .link {
    @include mat.typography-level($typography, body-1);
  }
}

@include theme using($theme) {
  app-tab-list {
    .mat-list-base .mat-list-item-content:hover {
      background-color: getPaletteColor(getBackgroundPalette($theme), hover);
    }
  }
}
