<mat-list>
  <ng-container *ngFor="let tab of tabs">
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="icon-container" mat-list-icon>
        <app-image-icon [source]="tab.favIconUrl"></app-image-icon>
      </div>
      <div mat-line>{{ tab.title }}</div>
      <a mat-line href="{{ tab.url }}" target="_blank"> {{ tab.url }}</a>
      <button mat-icon-button [matMenuTriggerFor]="tabMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #tabMenu="matMenu">
        <button mat-menu-item (click)="renameTab(tab)">
          <mat-icon>edit_note</mat-icon>
          <span>Rename</span>
        </button>
        <button mat-menu-item (click)="removeTab(tab)">
          <mat-icon>playlist_remove</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </mat-list-item>
  </ng-container>
</mat-list>
