<app-timeline-element *ngIf="devices$ | async as devices" 
  timelineLabel="Devices"
  [controls]="false">
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let device of devices; trackBy: trackByDevice">
      <mat-expansion-panel-header>
        <div class="header-container">
          <div class="device-name">
            {{ device.deviceName }}
          </div>
          <app-icons-container *ngIf="deviceHostnameGroup$ | async as deviceHostnameGroup"
            [icons]="deviceHostnameGroup.get(device)">
          </app-icons-container>
          <div class="header-controls">
            <button mat-icon-button (click)="restoreTabs(getTabsFromSessions(device.sessions))" matTooltip="Restore">
              <mat-icon>restore</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <app-tab-list>
        <app-list-item
          *ngFor="let tab of getTabsFromSessions(device.sessions); trackBy: trackByTabId"
          [tab]="tab">
        </app-list-item>
      </app-tab-list>
    </mat-expansion-panel>
  </mat-accordion>
</app-timeline-element>
