@import 'common';

app-devices {
  $header-height: 3rem;

  display: block;

  .mat-expansion-panel-header {
    &.mat-expanded {
      .header-container {
        app-icons-container {
          display: none;
        }

        .header-controls {
          display: flex;
        }
      }
    }

    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $header-height;
      gap: 0.5rem;
      padding: 0 0.5rem;

      .device-name {
        padding: 0 1rem 0 0.5rem;
        line-height: 1rem;
        text-align: center;
      }

      app-icons-container {
        flex: 1;
      }

      .header-controls {
        display: none;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
      }
    }
  }

}

@include theme using($theme) {
  app-devices {

    .header-controls {
      color: getPaletteColor(getForegroundPalette($theme), secondary-text);
    }

    .device-name {
      color: getPaletteColor(getForegroundPalette($theme), secondary-text);
    }
  }
}
