@import 'common';

h3.timeline-label {
  margin: 1rem 0;

  &:first-of-type {
    margin-top: 0;
  }
}

@include theme using($theme) {
  :host {
    h3.timeline-label {
      color: getPaletteColor(getForegroundPalette($theme), hint-text);
    }
  }
}
