@if (topSites()?.length > 0) {
  <div class="container">
    <div class="site-container">
      @for (site of topSites(); track site) {
        <a class="site" [href]="site.url">
          <nc-image
            [source]="undefined | favicon: site.url"
            size="medium"></nc-image>
          <span class="site-title">
            {{ site.title }}
          </span>
          <button stopPropagation class="remove-btn" (click)="removeSite(site)">
            <mat-icon>close</mat-icon>
          </button>
        </a>
      }
    </div>
  </div>
}
