nc-top-sites {
  display: block;
  position: relative;

  .container {
    margin: 1rem 0;

    .site-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 1rem;
      overflow: hidden;

      .site {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 2rem;
        height: 1.5rem;
        background: var(--mat-sys-surface-variant);

        &:hover .remove-btn {
          display: flex;
        }

        .site-title {
          font: var(--mat-sys-label-large);
          color: var(--mat-sys-on-surface);

          display: block;
          position: relative;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-right: 0.5rem;
          flex: 1;
        }

        .remove-btn {
          color: var(--mat-sys-on-surface);
          background: var(--mat-sys-surface-container);
          align-items: center;
          border-radius: 1rem;
          box-sizing: border-box;
          cursor: pointer;
          display: none;
          justify-content: center;
          margin: 0;
          padding: 0.25rem;
          position: relative;
          border: 0;

          .mat-icon {
            font-size: 1rem;
            height: 1rem;
            line-height: 1rem;
            width: 1rem;
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  nc-top-sites {
    .container {
      .site-container {
        .site {
          .remove-btn {
            color: var(--mat-sys-on-surface);
            background-color: var(--mat-sys-surface);
          }
        }
      }
    }
  }
}
