@use '@angular/material' as mat;
@import 'theme';

@include component-theme using($theme) {
  app-top-sites {
    .site-container {
      .site {
        background: get-palette-color(get-background-palette($theme), disabled-list-option);
      }

      .site-title {
        color: get-palette-color(get-foreground-palette($theme), text);
      }

      .remove-btn {
        color: get-palette-color(get-foreground-palette($theme), text);
        background: get-palette-color(get-background-palette($theme), card);
      }
    }
  }
}

$typography-config: mat.m2-get-typography-config($dark-theme);

app-top-sites {
  display: block;
  position: relative;

  .container {
    margin: 1rem 0;
    
    .site-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 1rem;
      overflow: hidden;

      .site {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 2rem;
        height: 1.5rem;

        &:hover .remove-btn {
          display: flex;
        }

        .site-title {
          @include mat.m2-typography-level($typography-config, body-1);

          display: block;
          position: relative;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-right: 0.5rem;
          flex: 1;
        }

        .remove-btn {
          align-items: center;
          border-radius: 1rem;
          box-sizing: border-box;
          cursor: pointer;
          display: none;
          justify-content: center;
          margin: 0;
          padding: 0.25rem;
          position: relative;
          border: 0;

          .mat-icon {
            font-size: 1rem;
            height: 1rem;
            line-height: 1rem;
            width: 1rem;
          }
        }
      }
    }
  }
}
