@let sourceTabs = sourceTabs$ | async;
@let deviceTabs = deviceTabs$ | async;

@if (sourceTabs?.length > 0 || deviceTabs?.length > 0) {
  @if (deviceTabs?.length > 0) {
    <nc-timeline-label>
      {{ 'fromDevices' | translate }}
    </nc-timeline-label>
    <mat-card class="search-container">
      <nc-tab-list>
        @for (tab of deviceTabs; track tab) {
          <nc-list-item [@listItemAnimation] [tab]="tab" />
        }
      </nc-tab-list>
    </mat-card>
  }

  @if (sourceTabs?.length > 0) {
    <nc-timeline-label [ngPlural]="sourceTabs.length">
      <ng-template ngPluralCase="one">
        {{ 'oneResult' | translate }}
      </ng-template>
      <ng-template ngPluralCase="other">
        {{ 'resultCount' | translate: sourceTabs?.length.toString() }}
      </ng-template>
    </nc-timeline-label>
    <mat-card class="search-container">
      <nc-tab-list>
        @let recentTabs = recentTabs$ | async;

        @for (tab of sourceTabs; track tab.id) {
          <nc-list-item
            [@listItemAnimation]
            [tab]="tab"
            [actions]="recentTabs?.[tab.id] ? recentActions : tabActions"
            [recent]="recentTabs?.[tab.id]"
            [target]="isPopup ? '_blank' : '_self'"
            (deleted)="itemDeleted($event)"
            (modified)="itemModified($event)"
            (find)="findItem.emit($event)" />
        }
      </nc-tab-list>
    </mat-card>
  }
} @else {
  <nc-empty [message]="'searchEmptyMessage' | translate">search_off</nc-empty>
}
