@if ((sourceTabs$ | async)?.length > 0 || (deviceTabs$ | async)?.length > 0) {
  @if((deviceTabs$ | async)?.length > 0) {
    <app-timeline-label>
      {{ 'fromDevices' | translate }}
    </app-timeline-label>
    <mat-card class="search-container">
      <app-tab-list>
        @for (tab of deviceTabs$ | async; track tab) {
          <app-list-item [@listItemAnimation] [tab]="tab" />
        }
      </app-tab-list>
    </mat-card>
  }

  @if((sourceTabs$ | async)?.length > 0) {
    <app-timeline-label [ngPlural]="(sourceTabs$ | async).length">
      <ng-template ngPluralCase="one">
        {{ 'oneResult' | translate }}
      </ng-template>
      <ng-template ngPluralCase="other">
        {{ 'resultCount' | translate: { count: (sourceTabs$ | async).length } }}
      </ng-template>
    </app-timeline-label>
    <mat-card class="search-container">
      <app-tab-list>
        @for (tab of sourceTabs$ | async; track tab.id) {
          <app-list-item
            [@listItemAnimation]
            [tab]="tab"
            [tabs]="timelineTabs$ | async"
            [openTabs]="openTabs$ | async"
            [target]="isPopup ? '_blank' : '_self'"
            (deleted)="itemDeleted($event)"
            (modified)="itemModified($event)"
            (find)="findItem.emit($event)" />
        }
      </app-tab-list>
    </mat-card>
  }
} @else {
  <app-empty>search_off</app-empty>
}
