@import 'theme';

@include component-theme using($theme) {
  nc-search {
    color: get-palette-color(get-foreground-palette($theme), secondary-text);
  }
}

nc-search {
  @include vertical-flex;

  .search-container,
  .main-content {
    padding: 0;
  }

  .icon-label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
