@let _sourceTabs = sourceTabs();
@let sourceLen = _sourceTabs?.length;
@let deviceTabs = deviceTabs$ | async;
@let searchQuery = searchQuery$ | async;
@let baseSource = source();
@let devLen = deviceTabs?.length;
@let recentMap = recentMap$ | async;

@if (sourceLen > 0 || devLen > 0) {
  @if (devLen > 0 && searchQuery) {
    <nc-timeline-label class="icon-label">
      <mat-icon>devices</mat-icon>
      {{ 'fromDevices' | translate }}
    </nc-timeline-label>
    <mat-card class="search-container">
      <nc-tab-list>
        @for (tab of deviceTabs; track tab) {
          <nc-list-item [tab]="tab" />
        }
      </nc-tab-list>
    </mat-card>
  }

  @if (sourceLen > 0 && !searchQuery) {
    <nc-timeline-label class="icon-label">
      <mat-icon>history_2</mat-icon>
      {{ 'recent' | translate }}
    </nc-timeline-label>
  } @else if (sourceLen > 0 && searchQuery) {
    <nc-timeline-label class="icon-label">
      <ng-container [ngPlural]="sourceLen">
        <ng-template ngPluralCase="one">
          {{ 'oneResult' | translate }}
        </ng-template>
        <ng-template ngPluralCase="other">
          {{ 'resultCount' | translate: sourceLen.toString() }}
        </ng-template>
      </ng-container>
    </nc-timeline-label>
  }

  @if (sourceLen > 0) {
    <mat-card class="search-container">
      <nc-tab-list>
        @for (tab of _sourceTabs; track tab) {
          <nc-list-item
            [tab]="tab"
            [actions]="
              recentMap?.has(tab.id) && !searchQuery
                ? recentActions
                : defaultActions
            "
            [target]="target"
            (recent)="recentRemoved($event)"
            (deleted)="itemDeleted($event)"
            (modified)="itemModified($event)"
            (find)="findItem.emit($event)" />
        }
      </nc-tab-list>
    </mat-card>
  }
} @else if (baseSource?.length > 0) {
  @if (searchQuery) {
    <nc-empty [message]="'searchEmptyMessage' | translate: searchQuery">
      block
    </nc-empty>
  } @else {
    <nc-empty [message]="'recentNotFound' | translate">
      search_activity
    </nc-empty>
  }
} @else {
  <nc-empty [message]="'emptyCollections' | translate">data_alert</nc-empty>
}
