@use 'common' as common;

nc-search {
  @include common.vertical-flex;

  color: var(--mat-sys-secondary-text);

  .search-container {
    overflow: hidden;
    padding: 0;
  }

  .icon-label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
