@use '@angular/material' as mat;
@import 'common';
@import 'theme';

@include component-theme using($theme) {
  app-search-form {
    $is-dark: is-dark-theme($theme);
    $border-color: get-palette-color(get-background-palette($theme), disabled-button-toggle);
    $app-background: get-palette-color(get-background-palette($theme), background);

    color: get-palette-color(get-foreground-palette($theme), secondary-text);
    background-color: $app-background;

    .controls-wrapper {
      $background-color: get-palette-color(get-background-palette($theme), card);
      background-color: $background-color;

      @if not $is-dark {
        border: 1px solid $border-color;
      }

      .controls {
        border-left: 1px solid get-palette-color(get-foreground-palette($theme), divider);
      }
    }

    &.is-active {
      .controls-wrapper {
        background-color: if($is-dark, $border-color, $app-background);
      }
    }
  }
}

app-search-form {
  $height: 42px;
  $padding: 0.5rem;

  display: block;
  position: sticky;
  padding: $padding 0;
  z-index: 1;
  top: 0;

  transition: transform $cubic-ease;

  &.sticky {
    &:not(.is-active) {
      transform: translate(0, -100%);

      &.stuck {
        @include mat.elevation(2);
        transform: translate(0, 0);
      }
    }

    &.is-active {
      @include mat.elevation(2);
    }
  }

  .controls-wrapper {
    transition: background-color $cubic-ease;

    display: flex;
    border-radius: 5rem;
    box-sizing: border-box;
    z-index: 1;

    .search-form {
      flex: 1 1 auto;

      .search-field {
        width: 100%;
        font-size: 1rem;

        .mat-mdc-form-field-infix {
          display: flex;
          min-height: $height;
          padding: 0;
        }

        .mdc-line-ripple,
        .mat-mdc-form-field-subscript-wrapper {
          display: none;
        }

        .mat-mdc-text-field-wrapper,
        .mat-mdc-form-field-focus-overlay {
          background: none;
        }
      }
    }

    .controls {
      flex: 0 0 0;
      padding: 0 0.5rem;
      margin: 0.5rem 0;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .mat-mdc-form-field-icon-prefix {
      padding: 0 0.25rem;
    }

    .mat-mdc-form-field-icon-prefix,
    .mat-mdc-form-field-icon-suffix {
      & > .mat-icon {
        padding: 0 0.5rem;
      }
    }
    .mat-mdc-icon-button.mat-mdc-button-base {
      height: auto;
      padding: 0;
      line-height: 0;
    }
  }
}
