@import 'common';

.mat-card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 1rem auto;

  & > * {
    margin-bottom: 1rem;
  }

  .list-container {
    margin-top: 1rem;

    .list {
      margin-left: 1rem;

      .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
