@import 'theme';

@include component-theme using($theme) {
  app-empty {
    color: get-palette-color(get-foreground-palette($theme), disabled-text);
  }
}

$icon-size: 5rem;

app-empty {
  @include vertical-flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
    line-height: $icon-size;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
