@let actionList = actions();
@let messageStr = message();

@if (!actionList) {
  <mat-icon class="icon">
    <ng-content />
  </mat-icon>
}

@if (messageStr) {
  <section class="message" [innerHTML]="messageStr | html"></section>
}

@if (actionList?.length) {
  <section class="actions">
    @for (action of actionList; track action) {
      <button
        mat-fab
        extended
        [color]="action.color"
        (click)="handleAction(action.action)">
        @if (action.icon) {
          <mat-icon>{{ action.icon }}</mat-icon>
        }
        {{ action.label }}
      </button>
    }
  </section>
}
