<section class="controls-wrapper">
  @let isActive = isActive$ | async;

  <form class="search-form" [formGroup]="formGroup">
    <mat-form-field class="search-field" appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <input
        #searchInput
        type="text"
        tabindex="1"
        matInput
        formControlName="search"
        (focus)="focused.set(true)"
        (blur)="onBlur()"
        autocomplete="off"
        placeholder="{{ disabled() ? ('searchDisabled' | translate) : '' }}"
        data-testid="search-input" />
    </mat-form-field>
  </form>

  <div class="controls">
    @if (isActive) {
      <button
        matIconButton
        color="primary"
        [matTooltip]="'cancelSearch' | translate"
        (click)="clearSearch()"
        data-testid="cancel-search">
        <mat-icon>close</mat-icon>
      </button>
    } @else {
      <button
        matIconButton
        color="primary"
        [matTooltip]="'addCollection' | translate"
        (click)="handleAction(Action.Save)"
        data-testid="add-collections">
        <mat-icon>add</mat-icon>
      </button>
    }
  </div>

  @let hasActivated = hasActivated$ | async;

  @if (!hasActivated) {
    <nc-ripple [animate]="true"></nc-ripple>
  }
</section>
