@import 'common';

$padding: 1rem;

:host {
  display: block;
  position: relative;
  max-width: $popup-width;
  min-height: $popup-height;
}

.content {
  padding: $padding $padding 4rem;
  box-sizing: border-box;
}

.menu {
  position: fixed;
  right: $scrollbar-width + $padding;
  bottom: 0;
  z-index: 1;
}
