@import 'common';

$padding: 1rem;

body {
  min-width: $popup-width;
  max-width: $popup-width;
  min-height: $popup-height;
}

html {
  scrollbar-gutter: stable;

  &.cdk-global-scrollblock {
    position: relative;
  }
}

app-popup {
  display: block;

  .content {
    padding: $padding $padding 4rem;
  }

  .menu {
    position: fixed;
    right: $scrollbar-width + $padding;
    bottom: 0;
    z-index: 1;
  }
}
