@import 'common';

$padding: 1rem;

body {
  min-width: $popup-width;
  max-width: $popup-width;
  min-height: $popup-height;
}

html.cdk-global-scrollblock {
  position: relative;
}

app-popup {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  overflow-y: auto;

  .content {
    padding: $padding $padding 4rem;
  }

  .menu {
    position: fixed;
    right: $scrollbar-width + $padding;
    bottom: 0;
    z-index: 1;
  }
}
