@let _actions = actions();
@let _timestamp = timestamp();

<div class="container">
  @if (_timestamp) {
    <div class="timestamp">
      {{ _timestamp | date }}
    </div>
  }

  @if (_actions?.length > 0) {
    <div class="controls" stopPropagation>
      @for (action of _actions; track action.action) {
        <button
          mat-icon-button
          (click)="clicked.emit(action.action)"
          [matTooltip]="action.label | translate"
          dataTestId="group-action-{{ action.label }}">
          <mat-icon>{{ action.icon }}</mat-icon>
        </button>
      }
    </div>
  }
</div>
