@import 'theme';

@include component-theme using($theme) {
  app-group-controls {
    .container {
      color: get-palette-color(get-foreground-palette($theme), secondary-text);
    }
  }
}

app-group-controls {
  .container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: 0 0.5rem 0 1rem;
    min-height: 3rem;
  }
}
