@use '@angular/material' as mat;

@import 'common';

$typography: mat.define-typography-config();

app-list-item {
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  .container {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 0.5rem 0 1rem;
    margin: 0;
    gap: 1rem;
    cursor: pointer;

    &:hover .controls {
      display: flex;
    }
  }

  .controls {
    display: none;
    align-items: center;
  }

  .text-container {
    flex-grow: 1;

    mark {
      background: none;
    }

    &,
    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .title,
    .subtitle {
      line-height: 1rem;
    }

    .title {
      @include mat.typography-level($typography, subheading-1);
    }

    .subtitle {
      @include mat.typography-level($typography, body-1);
    }
  }
}

@include theme using($theme) {
  app-list-item {
    .container {
      color: getPaletteColor(getForegroundPalette($theme), text);
    }

    &:hover {
      background-color: getPaletteColor(getBackgroundPalette($theme), hover);
    }

    .subtitle,
    .controls {
      color: getPaletteColor(getForegroundPalette($theme), secondary-text);
    }

    .text-container mark {
      color: getPaletteColor(getPrimaryPalette($theme), darker);
    }
  }
}
