<a class="container" matRipple href="{{ tab.url }}" [target]="target">
  <app-chip class="icon normal" [source]="tab.favIconUrl"></app-chip>
  <app-chip class="icon small" [source]="tab.favIconUrl" size="small"></app-chip>
  <div class="text-container">
    <div class="title">{{ tab.title }}</div>
    <span class="subtitle normal">{{ tab.url }}</span>
    <span class="subtitle short">{{ tab.url | hostname }}</span>
  </div>
  <div class="controls">
    <button
      class="locate-button"
      mat-icon-button
      *ngIf="timelineButton && (inTimeline$ | async)"
      [appStopPropagation]
      (click)="scrollToTimeline()">
      <mat-icon>read_more</mat-icon>
    </button>
    <button *ngIf="(readOnly$ | async) === false" mat-icon-button [appStopPropagation] [matMenuTriggerFor]="tabMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #tabMenu="matMenu">
      <button mat-menu-item (click)="editClick()">
        <mat-icon>edit_note</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteClick()">
        <mat-icon>playlist_remove</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</a>
<app-ripple [focused]="focused"></app-ripple>
