<a class="container" matRipple href="{{ tab.url }}" [target]="target">
  <app-chip [source]="tab.favIconUrl | favicon: tab.url"></app-chip>
  <div class="text-container">
    <div class="title">{{ tab.title }}</div>
    <span class="subtitle">{{ tab.url }}</span>
  </div>

  @if (timelineButton && (inTimeline$ | async) || (notReadOnly$ | async)) {
    <div class="controls">
      @if (timelineButton && (inTimeline$ | async)) {
        <button appStopPropagation
          mat-icon-button
          [matTooltip]="'find' | translate"
          (click)="scrollToTimeline()">
          <mat-icon>manage_search</mat-icon>
        </button>
      }

      @if (notReadOnly$ | async) {
        <button appStopPropagation
          mat-icon-button 
          (click)="editClick()" 
          [matTooltip]="'edit' | translate">
          <mat-icon>edit_note</mat-icon>
        </button>
      }

      @if (notReadOnly$ | async) {
        <button appStopPropagation
          mat-icon-button 
          (click)="deleteClick()"
          [matTooltip]="'delete' | translate">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  }
</a>

@if (focused) {
  <app-ripple [focused]="focused"></app-ripple>
}
