app-list-item {
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  .container {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    margin: 0;
    gap: 1rem;
    cursor: pointer;

    &:hover .controls {
      display: flex;
    }
  }

  .controls {
    display: none;
    align-items: center;
  }

  .text-container {
    flex-grow: 1;

    mark {
      background: none;
      font-weight: 300;
      color: inherit;
    }

    &,
    .title,
    .subtitle {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
