<form [formGroup]="formGroup" (ngSubmit)="save()">
  <h2 mat-dialog-title>{{ 'edit' | translate }}</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'title' | translate }}</mat-label>
      <input
        type="text"
        formControlName="title"
        matInput
        autocomplete="off"
        cdkFocusInitial
        data-testid="rename-dialog-name-input" />
      <mat-error>{{ 'required' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'url' | translate }}</mat-label>
      <input type="text" formControlName="url" matInput autocomplete="off" />
      <mat-error>{{ 'required' | translate }}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-stroked-button [mat-dialog-close]>
      {{ 'close' | translate }}
    </button>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="!formGroup.valid"
      data-testid="rename-dialog-submit-button">
      {{ 'save' | translate }}
    </button>
  </mat-dialog-actions>
</form>
