<form (submit)="save($event)">
  <h2 mat-dialog-title>{{ 'edit' | translate }}</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'title' | translate }}</mat-label>
      <input
        type="text"
        [formField]="renameForm.title"
        matInput
        autocomplete="off"
        cdkFocusInitial
        data-testid="rename-dialog-name-input" />
      @if (renameForm.title().invalid()) {
        <mat-error>{{ 'required' | translate }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'url' | translate }}</mat-label>
      <input
        type="text"
        [formField]="renameForm.url"
        matInput
        autocomplete="off" />
      @if (renameForm.url().invalid()) {
        <mat-error>{{ 'required' | translate }}</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" matButton="outlined" [mat-dialog-close]>
      {{ 'close' | translate }}
    </button>
    <button
      type="submit"
      matButton="filled"
      [disabled]="renameForm().invalid()"
      data-testid="rename-dialog-submit-button">
      {{ 'save' | translate }}
    </button>
  </mat-dialog-actions>
</form>
