@use 'common' as common;

@media (max-width: common.$desktop-width) {
  nc-chip .icon-container .icon-label {
    display: none;
  }
}

nc-chip {
  .icon-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    gap: 0.5rem;
    max-width: 12rem;
    min-width: 2rem;
    background-color: var(--mat-sys-surface-variant);

    &.medium {
      max-width: 14rem;
    }

    &.large {
      padding: 0.5rem 0.75rem;
      max-width: 16rem;
    }

    .icon-label {
      color: var(--nc-text-color);
      line-height: 1rem;
      margin-right: 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .overflow {
      color: var(--nc-disabled-text-color);
    }
  }
}
